<link href="css/extensao_cards/PerformanceIndicadoresEconomicos.css" rel="stylesheet" type="text/css">

<a ng-click="getIndicador(registro)">
    <h4>{{registro.NOME_INDICADOR}}</h4>
    <h2>{{registro.REALIZADO}}</h2>
    <div class="i">Planejado<span>{{registro.PLANEJADO}}</span></div>
    <div class="i">Variação<span>{{registro.VARIACAO}}</span></div>
</a>
<div class="clearBoth"></div>
<div id="comboMenuOpcoes_{{registro.ID}}" style="display: none">
    <div id="grafico_{{registro.ID}}" style="height: 200px"></div>
    <a style="padding: 0" class="compartilhar" ng-click="Compartilhar('PerformanceIndicadoresEconomicos', registro)">
        <i class="fa fa-share-alt"></i>
        Compartilhar
    </a>
</div>