<div id="resumoLinhaDoTempo" style="margin: -5px -15px;">
    <h4>Forecast {{data.DADOS.NOME_CONTA_FORECAST}}</h4>
    <div id="graf"></div>

    <div style="padding: 7px 10px;">
        <div class="i">Planejado<span style="color: {{data.DADOS.COLOR_PLANEJADO}}">{{data.DADOS.PLANEJADO}}</span></div>
        <div class="i" style="text-align: right">Variação<span style="color: {{data.DADOS.COLOR_VARIACAO}}">{{data.DADOS.VARIACAO}}</span></div>

        <div class="i">Forecast<span style="color: {{data.DADOS.COLOR_FORECAST}}">{{data.DADOS.FORECAST}}</span></div>
        <div class="i" style="text-align: right">%V F x P<span style="color: {{data.DADOS.COLOR_VAR_PERC_PLAN_FORECAST}}">{{data.DADOS.VAR_PERC_PLAN_FORECAST}}%</span></div>
        <div class="clearBoth"></div>
    </div>
</div>