<link href="css/extensao_cards/PerformanceDRE.css" rel="stylesheet" type="text/css">

<h3>{{DADOS_FORECAST.NOME_CONTA}}</h3>

<div id="grafForecast"></div>

<div class="i">Planejado anual<span style="color: {{DADOS_FORECAST.COLOR_PLANEJADO}}">{{DADOS_FORECAST.PLANEJADO}}</span></div>
<div class="i" style="text-align: right">Variação<span style="color: {{DADOS_FORECAST.COLOR_VAR}}">{{DADOS_FORECAST.VAR}}</span></div>
<div class="i" style="margin-top: 5px">Forecast anual<span style="color: {{DADOS_FORECAST.COLOR_FORECAST}}">{{DADOS_FORECAST.FORECAST}}</span></div>
<div class="i" style="margin-top: 5px;text-align: right">%V F x P<span style="color: {{DADOS_FORECAST.COLOR_VAR_PERF}}">{{DADOS_FORECAST.VAR_PERF}}%</span></div>