<div id="teste">
    <a id="flash" ng-click="flash()">teste {{flashAtivo}}</a>
</div>
<style>
    a#flash{
        position: absolute;
        bottom: -30px;
        left: 0;
        z-index: 2;
    }

    div#teste{
        width: 130px;
        height: 130px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: transparent !important;
        border-radius: 0;
        box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.3);
        z-index: 1;
    }
</style>
<!--

<div seq="1"></div>
<div seq="2"></div>
<div seq="3"></div>
<div seq="4"></div>
<style>
    div[seq]{
        position: absolute;
        background: #000;
        opacity: 0.5;
    }
    div[seq="1"]{
        height: 30%;
        width: 100%;
        left: 0;
        top: 0;
    }

    div[seq="2"]{
        height: 100%;
        width: 30%;
        left: 0;
        top: 30%;
    }


    div[seq="3"]{
        height: 30%;
        width: 40%;
        left: 30%;
        bottom: 45px;
    }

    div[seq="4"]{
        height: 100%;
        width: 30%;
        right: 0;
        top: 30%;
    }
</style>-->
