<div class="row">
    <a style="width: 31%" class="col s3 menuBottomCount" url="" ng-click="locationBottom('#!/')">
        <i class="fa fa-share-alt">
            <span tipo="compartilhar">{{QTDECOMPARTILHAR}}</span>
        </i>
        <p>Compartilhar</p>
    </a>
    <a style="width: 25%;" class="col s3" url="performance" ng-click="locationBottom('#!/performance-resumo')">
        <i class="mdi mdi-chart-line"></i>
        <p>Performance</p>
    </a>
    <a style="width: 28%" class="col s3" url="indicadores" ng-click="locationBottom('#!/indicadores')">
        <i class="mdi mdi-chart-bar"></i>
        <p>Indicadores</p>
    </a>
    <a style="width: 13%" class="col s3 contat menuBottomCount" url="minhas-acoes" ng-click="location('#!/minhas-acoes')">
        <i class="mdi mdi-checkbox-marked-outline">
            <span>{{QTDEACOES}}</span>
        </i>
        <p>Ações</p>
    </a>
</div>