<div>
    LOCAL<br>
    <b>Próximo a R. Lourenco Grabowski <i class="mdi-hardware-keyboard-arrow-down"></i></b>
</div>

<div id="pesquisarFiltro">
    <i class="mdi mdi-action-search"></i>
    <input ng-keyup="getLst(true)" ng-model="$root.pesquisa" placeholder="Prato ou restaurante">
    <i ng-if="$root.pesquisa && $root.pesquisa != ''" ng-click="clearPesquisa()" class="mdi mdi-content-clear"></i>
    <a href="#!/estabelecimentos-filtros">Filtros</a>
</div>

<style>
    #pesquisarFiltro .mdi-action-search{
        position: absolute;
        left: 9px;
        top: 0px;
        font-size: 30px;
    }
    #pesquisarFiltro .mdi-content-clear{
        position: absolute;
        left: 77%;
        top: -1px;
        font-size: 22px;
        padding: 6px;
    }

    #pesquisarFiltro a{
        color: #000;
        position: absolute;
        left: 88%;
        top: 11px;
        font-size: 12px;
    }

    #pesquisarFiltro input{
        background: #EEE;
        border: 0;
        padding: 10px 10px 10px 45px;
        width: 85%;
    }

    #pesquisarFiltro{
        position: relative;
        margin-top: 10px;
    }
</style>


<ul>
    <li ng-repeat="EST in LST" ng-click="click(EST)">{{EST.ID}} - {{EST.NOME}}</li>
</ul>