<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 100%;
    }
</style>

<div id="map"></div>
<script>
    var map;
    var markers = [];
    var faisalabad = {lat:31.4181, lng:73.0776};

    function teste(map, marker){
        var imgX = '0';
        var animationInterval = setInterval(function(){
            if(imgX == '-18') imgX = '0';
            else imgX = '-18';
            $('#you_location_img').css('background-position', imgX+'px 0px');
        }, 500);
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                marker.setPosition(latlng);
                map.setCenter(latlng);
                map.setZoom(17);
                clearInterval(animationInterval);
                $('#you_location_img').css('background-position', '-144px 0px');
            });
        }
        else{
            clearInterval(animationInterval);
            $('#you_location_img').css('background-position', '0px 0px');
        }
    }

    function addYourLocationButton(map, marker)
    {
        var controlDiv = document.createElement('div');

        var firstChild = document.createElement('button');
        firstChild.style.backgroundColor = '#fff';
        firstChild.style.border = 'none';
        firstChild.style.outline = 'none';
        firstChild.style.width = '28px';
        firstChild.style.height = '28px';
        firstChild.style.borderRadius = '2px';
        firstChild.style.boxShadow = '0 1px 4px rgba(0,0,0,0.3)';
        firstChild.style.cursor = 'pointer';
        firstChild.style.marginRight = '10px';
        firstChild.style.padding = '0px';
        firstChild.title = 'Your Location';
        controlDiv.appendChild(firstChild);

        var secondChild = document.createElement('div');
        secondChild.style.margin = '5px';
        secondChild.style.width = '18px';
        secondChild.style.height = '18px';
        secondChild.style.backgroundImage = 'url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png)';
        secondChild.style.backgroundSize = '180px 18px';
        secondChild.style.backgroundPosition = '0px 0px';
        secondChild.style.backgroundRepeat = 'no-repeat';
        secondChild.id = 'you_location_img';
        firstChild.appendChild(secondChild);

        google.maps.event.addListener(map, 'dragend', function() {
            $('#you_location_img').css('background-position', '0px 0px');
        });

        firstChild.addEventListener('click', function() {
            teste(map, marker);
        });

        teste(map, marker);

        controlDiv.index = 1;
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv);
    }

    getpoints_timeout = null;
    function getpoints(time) {
        if (getpoints_timeout)
            clearTimeout(getpoints_timeout);

        getpoints_timeout = setTimeout(function () {
            var bounds = map.getBounds();
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();
            var nw = new google.maps.LatLng(ne.lat(), sw.lng());
            var se = new google.maps.LatLng(sw.lat(), ne.lng());
            Factory.ajax(
                {
                    action: 'estabecimentos/getpoints',
                    data: {
                        NE_LAT: ne.lat(),
                        SW_LNG: sw.lng(),
                        SW_LAT: sw.lat(),
                        NE_LNG: ne.lng()
                    }
                },
                function (data) {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    markers = [];

                    $.each(data.lst, function (index, val) {
                        var latlng = new google.maps.LatLng(val.LAT, val.LNG);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map,
                            ID: val.ID
                        });
                        marker.addListener('click', function () {
                            Factory.ajax(
                                {
                                    action: 'estabecimentos/removepoint',
                                    data: {
                                        ID: marker.ID
                                    }
                                },
                                function (data) {
                                    getpoints(1);
                                }
                            );
                        });
                        markers.push(marker);
                    });
                }
            );
        }, time?time:500);
    }

    function initMap() {
        navigator.geolocation.getCurrentPosition(function(position){
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: position.coords.latitude, lng: position.coords.longitude},
                zoom: 17,
                disableDefaultUI:true
            });
            map.setOptions(
                {
                    styles: [
                        {
                            featureType: "poi",
                            stylers: [
                                { visibility: "off" }
                            ]
                        }
                    ]
                }
            );

            setTimeout(function(){
                getpoints(1);
            }, 1);

            google.maps.event.addListener(map, 'click', function(event) {
                //placeMarker(event.latLng);
                Factory.ajax(
                    {
                        action: 'estabecimentos/setpoint',
                        data: {
                            LAT: event.latLng.lat(),
                            LNG: event.latLng.lng()
                        }
                    },
                    function (data) {
                        getpoints(1);
                    }
                );
            });

            google.maps.event.addListener(map, 'zoom_changed', function(event) {
                /*zoomLevel = map.getZoom();
                if (zoomLevel >= minFTZoomLevel) {
                    FTlayer.setMap(map);
                } else {
                    FTlayer.setMap(null);
                }*/

                getpoints();
            });

            google.maps.event.addListener(map, 'dragend', function(event) {
                getpoints();
            });

            function placeMarker(location) {
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

            var data = "Hello World!";
            var infowindow = new google.maps.InfoWindow({
                content: data
            });

            var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            var myMarker = new google.maps.Marker({
                map: map,
                animation: google.maps.Animation.DROP,
                position: faisalabad,
                icon: image,
                title: 'sfdfds',
                teste: 5,
                label: {
                    text: 'Hello world'
                }
            });
            myMarker.addListener('click', function() {
                map.setZoom(17);
                map.setCenter(myMarker.getPosition());

                console.log(myMarker.teste);

                alert(myMarker.title);

                infowindow.open(map,myMarker);
            });

            addYourLocationButton(map, myMarker);
        },
        function(error){ // callback de erro

        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmC5dvFmNrc8sQ5Y5UtJfldKbc4O9Hq6g&libraries=geometry&callback=initMap" async defer></script>