.scrollable:not(.ng-enter) .semRegistros{
    padding-top: 25px;
}

.md-tab span.iconRadio{
    display: inline-block;
    background: #f35958;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.md-tab{
    line-height: 15px !important;
    padding: 2px 14px !important;
    font-size: 13px !important;
}

.md-tab label{
    font-size: 10px !important;
}

md-pagination-wrapper,
md-tabs-canvas{
    height: 55px !important;
}
lstMinhasAcoes .status {
    right: 10px;
}

/*plano de acao: status 1 = sem status*/
.lstMinhasAcoes .status > span[status="1"]{
    background: none;
}
/*Cancelado*/
.lstMinhasAcoes .status > span[status="5"]{
    background: #f35958;
    color: #FFF;
}
/*Arquivado*/
.lstMinhasAcoes .status > span[status="6"]{
    background: #d1dade;
    color: black;
}

.filtroPlanoAcao{
    margin: 8px 8px 0 8px;
    text-align: center;
}

.filtroPlanoAcao li{
    display: block;
    float: left;
    width: 23%;
    margin-left: 2%;
    color: #FFF;
    height: 33px;
    font-size: 11px;
    padding: 5px;
    line-height: 10px;
    border-radius: 3px;
}

.filtroPlanoAcao li:first-child{
    margin-left: 0;
}

.filtroPlanoAcao li[status="3"]{
    border: 1px solid #f8a142;
    color: #f8a142;
}
.filtroPlanoAcao li[active="1"][status="3"]{
    background-color: #f8a142;
    color: #FFF;
}

.filtroPlanoAcao li[status="4"]{
    border: 1px solid #0b9c8f;
    color: #0b9c8f;
    line-height: 20px;
}
.filtroPlanoAcao li[active="1"][status="4"]{
    background-color: #0b9c8f;
    color: #FFF;
}

.filtroPlanoAcao li[status="5"]{
    border: 1px solid #e94847;
    color: #e94847;
    line-height: 20px;
}
.filtroPlanoAcao li[active="1"][status="5"]{
    background-color: #e94847;
    color: #FFF;
}

.filtroPlanoAcao li[status="6"]{
    border: 1px solid #999;
    color: #999;
    line-height: 20px;
}
.filtroPlanoAcao li[active="1"][status="6"]{
    border: 1px solid #d1dade;
    background-color: #d1dade;
    color: #000;
}

.btn-fab{
    background: #0aa699 !important;
}