.md-tab span[tipo="atrasados"]{
  display: inline-block;
  background: #f35958;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}
.lstMinhasAcoes li{
  padding-bottom: 5px !important;
}

.lstMinhasAcoes .menu.row{
  position: absolute;
  right: -80px;
  top: 0;
  background: #224887;
  height: 100%;
  transition: 0.2s;
  width: 70px;
  margin: 0;
  color: #FFF;
  z-index: 1;
}
.lstMinhasAcoes .menu.row .col.s3{
  width: 100%;
  text-align: center;
  padding: 0;
  height: 100%;
}

.lstMinhasAcoes .menu.row .col.s3{
  background: #224887;
}
.lstMinhasAcoes .menu.active{
  right: 0px;
}
.lstMinhasAcoes .menu.row > a > p{
    height: 100%;
    vertical-align: bottom;
    padding-top: 35%;
}

.campo-data{
  width: 50%;
  margin-bottom: 25px;
}

.md-icon-button+.md-datepicker-input-container{
  margin-left: 0px !important;
}
body .md-button.md-icon-button {
  height: 43px;
  min-width: 0;
  line-height: 30px;
  padding: 0px;
  width: 25px;
  border-radius: 50%;
  background: transparent;
  margin-left: -5px;
  margin-bottom: 0px;
}

.md-select-placeholder span{
  font-size: 0.8rem !important;
  color: #cacaca !important;
  padding-left: 5px !important;
}

table{
  font-size: 0.8rem !important;
  color: #999 !important;
}
[ng-controller="Modal"] .content {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #f4f5f7;
    border-color: #e5e9ec;
    box-shadow: none;
    outline: 0 none !important;
    margin-top: 35% !important;
}
[ng-controller="Modal"] .content form input{
  background-color: transparent;
    padding: 0 10px 0px 5px;
}

.md-datepicker-input{
  min-width: 100px;
  max-width: 100px;
}

#topo_atualizar{
    height: 55px;
}
#topo_atualizar h4{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: -5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#topo_atualizar label{
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filtroAcao{
    margin: 8px 8px 0 8px;
    text-align: center;
}

.filtroAcao li{
    display: block;
    float: left;
    width: 23%;
    margin-left: 2%;
    color: #FFF;
    height: 33px;
    font-size: 11px;
    padding: 5px;
    line-height: 10px;
    border-radius: 3px;
}

.filtroAcao li:first-child{
    margin-left: 0;
}

.filtroAcao li[status="1"]{
    border: 1px solid #0090d9;
    color: #0090d9;
    line-height: 20px;
}
.filtroAcao li[active="1"][status="1"]{
    background-color: #0090d9;
    color: #FFF;
}

.filtroAcao li[status="2"]{
    border: 1px solid #736086;
    color: #736086;
    line-height: 20px;
}
.filtroAcao li[active="1"][status="2"]{
    background-color: #736086;
    color: #FFF;
}

.filtroAcao li[status="4"]{
    border: 1px solid #0b9c8f;
    color: #0b9c8f;
    line-height: 20px;
}
.filtroAcao li[active="1"][status="4"]{
    background-color: #0b9c8f;
    color: #FFF;
}

.filtroAcao li[status="3"]{
    border: 1px solid #f8a142;
    color: #f8a142;
}
.filtroAcao li[active="1"][status="3"]{
    background-color: #f8a142;
    color: #FFF;
}

.md-tab{
    font-size: 18px;
}