

#blocoAcaoAtualizar{
  padding: 10px;
}

#blocoAcaoAtualizar div.icon-status{
  float: left;
}

#blocoAcaoAtualizar div.icon-status i{
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
}

#blocoAcaoAtualizar div.icon-status i:nth-child(1){
  color: #0090d9;
}

#blocoAcaoAtualizar div.icon-status i:nth-child(2){
  color: #736086;
}

#blocoAcaoAtualizar div.icon-status i:nth-child(3){
  color: #fea764;
}

#blocoAcaoAtualizar div.icon-status i:nth-child(4){
  color: #0aa699;
}

#blocoAcaoAtualizar .status-acao {
  padding-top: 3px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  color: #fff;
  float: right;
  font-size: 14px;
  height: 28px;
  text-align: center;
  width: 116px;
}

#blocoAcaoAtualizar .status-acao[status="1"]{
  background-color: #0090d9;
}

#blocoAcaoAtualizar .status-acao[status="2"]{
  background-color: #736086;
}

#blocoAcaoAtualizar .status-acao[status="3"]{
  background-color: #fea764;
}

#blocoAcaoAtualizar .status-acao[status="4"]{
  background-color: #0aa699;
}

md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after{
  border-color: #224887 !important;
  background-color: #224887 !important;
}

md-slider.md-default-theme .md-track.md-track-fill, md-slider .md-track.md-track-fill{
  background-color: #224887 !important;
}
.campo-data{
  width: 50%;
  float: left;
  margin-bottom: 5px;
}
.md-icon-button+.md-datepicker-input-container{
  margin-left: 0px !important;
}
body .md-button.md-icon-button {
  height: 43px;
  min-width: 0;
  line-height: 30px;
  padding: 0px;
  width: 25px;
  border-radius: 50%;
  background: transparent;
  margin-left: -5px;
  margin-bottom: 0px;
}
.title.m-t-10{
  margin-top: 20px;
}
.usuario-sem-permissao{
  font-size: 10px;
  text-align: center;
  color: red !important;
  position: absolute;
  margin-top: -15px
}