.app-body{
    padding-top: 5px;
}

#blocoCompartilhar .listaMsg > h4{
    font-size: 22px;
    color: #224887 !important;
    margin-left: 0;
    white-space: nowrap;
    width: 100%;
    display: block;
    line-height: 45px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    margin-top: -10px;
}
#blocoCompartilhar #datahora{
    font-size: 12px;
    text-align: right;
    display: block;
    margin: 3px 10px 0;
}

#blocoCompartilhar{
    padding-bottom: 49px;
    position: relative;
}

#blocoCompartilhar > article{
    margin: 0 10px;
}


#blocoCompartilhar > article[card-origem="PerformanceTimelineUnidade"],
#blocoCompartilhar > article[card-origem="PerformanceTimelineCC"]{
    padding: 0;
}

#lstUsuariosCompartilhar{
    border-top: 1px solid #E4E4E4;
    position: fixed;
    bottom: 117px;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 1;
}

#comboMensagem{
    width: 100%;
    background: rgba(242, 242, 242, 1);
    min-height: 47px;
    padding: 6px;
}

.scrollable:not(.ng-enter) #comboMensagem{
    position: fixed;
    bottom: 52px;
    left: 0;
}

#MENSAGEM{
    background-color: #FFF;
    border: 1px solid #CCC;
    resize: none;
    height: 35px;
    min-height: 35px;
    z-index: 1;
    padding: 7px 8px;
    border-radius: 6px;
    width: 74%;
}

#btn_usuarios{
    font-size: 23px;
    z-index: 2;
    text-align: center;
    margin: 0;
    color: #999;
    padding: 6px 6px;
}

.scrollable:not(.ng-enter) #btn_usuarios{
    position: fixed;
    bottom: 58px;
    right: 39px;
}

#btn_salvar{
    font-size: 23px;
    z-index: 2;
    text-align: center;
    margin: 0;
    padding: 6px 8px;
    color: #999;
}

.scrollable:not(.ng-enter) #btn_salvar{
    position: fixed;
    bottom: 58px;
    right: 5px;
}

#blocoCompartilhar #user{
    padding: 10px;
    padding-top: 0;
}

body[controller="CompartilharForm"] md-select-menu md-content,
body[controller="CompartilharForm"] md-select-menu{
    max-height: 400px;
}

#blocoCompartilhar #user > img{
    float: left;
    filter: FlipH;
    -ms-filter: FlipH;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0;
    display: block;
    background: #FFF;
}

#blocoCompartilhar #user > label{
    margin-left: 5px;
    color: #0a0000;
    font-size: 14px;
    margin-top: 0;
    display: block;
    float: left;
    width: 78%;
}

#blocoCompartilhar .message-right .dados_usuario{
    text-align: right;
}

#blocoCompartilhar .dados_usuario{
    font-size: 11px;
    vertical-align: 0px;
    margin-top: 5px;
    display: block;
    font-style: italic;
}

#blocoCompartilhar #user > p{
    display: block;
    float: left;
    margin-left: 5px;
    width: 79%;
    font-size: 11px;
    margin-bottom: 0;
}

#blocoCompartilhar .chat ul li{
    margin-bottom: 15px;
}

#blocoCompartilhar .chat ul li:last-child{
    margin-bottom: 0;
}

#blocoCompartilhar #infoExtras{
    position: relative;
    height: 31px;
    padding: 0 10px;
}

#blocoCompartilhar #infoExtras p{
    margin: 0 0 5px 0;
}

#blocoCompartilhar #infoExtras #competencia{
    color: #224887;
    font-size: 1rem;
    position: absolute;
    right: 11px;
    top: 0;
    text-transform:capitalize;
}

#blocoCompartilhar #infoExtras [type="checkbox"]:checked+label:before {
    border-right: 2px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
}

#blocoCompartilhar .compartilhar{
    display: none;
}

#blocoCompartilhar #lstMensagens li .menu{
    position: absolute;
    right: -88px;
    top: 0;
    height: 100%;
    transition: 0.2s;
    width: 67px;
    margin: 0;
    color: #FFF;
    z-index: 1;
}

#blocoCompartilhar #lstMensagens li .menu.row .col.s3{
    width: 100%;
    text-align: center;
    padding: 0;
    padding-top: 15px;
}

#blocoCompartilhar #lstMensagens li .menu.row .col.s3:nth-child(1){
    background: rgb(115, 96, 134);
}

#blocoCompartilhar #lstMensagens li .menu.row .col.s3 i{
    font-size: 22px !important;
}

#blocoCompartilhar #lstMensagens li .menu.active{
    right: -15px;
}
