#foraFaixaMedicao{
  position: relative;
  font-size: 15px;
  margin: 10px;
}
#foraFaixaMedicao span{
  position: absolute;
  right: 5px;
  top: 0;
  padding: 0 3px;
  border-radius: 4px;
  color: #FFF;
  background: rgb(34, 175, 163);
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] i.fa,
#listaIndicadores li i.fa{
  float: left;
  font-size: 22px;
  margin-right: 10px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] i.fa.active,
#listaIndicadores li i.fa.active{
  color: #FBB05E;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .dados,
#listaIndicadores li .dados{
  float: left;
  margin-bottom: 10px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .dados h3,
#listaIndicadores li .dados h3{
  margin: 0;
  font-size: 18px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .dados h4,
#listaIndicadores li .dados h4{
  margin: 0;
  font-size: 15px;
  color: #999;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i,
#listaIndicadores li div.i{
  float: left;
  width: 41%;
  font-size: 12px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i span,
#listaIndicadores li div.i span{
  display: block;
  font-weight: normal;
  font-size: 13px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc,
#listaIndicadores li div.i.porc{
  width: 15%;
  text-align: center;
}

body[device="ios"] #listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc,
body[device="ios"] #listaIndicadores li div.i.porc{
  width: 18%;
  text-align: center;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc span,
#listaIndicadores li div.i.porc span{
  padding: 0 3px;
  border-radius: 4px;
  color: #black;
  background: rgb(209, 218, 222);
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc[sinal="VERDE"] span,
#listaIndicadores li div.i.porc[sinal="VERDE"] span{
  background: rgb(34, 175, 163);
  color: #FFF;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc[sinal="VERMELHO"] span,
#listaIndicadores li div.i.porc[sinal="VERMELHO"] span{
  background: #f35958;
  color: #FFF;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc[sinal="LARANJA"] span,
#listaIndicadores li div.i.porc[sinal="LARANJA"] span{
  background: #fbb05e;
}

#nenhumRegistro{
  display: none;
  padding: 10px;
}

#top{
  background: #224887;
  color: #FFF;
}
#top img{
  float: left;
  filter: FlipH;
  -ms-filter: FlipH;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 10px 23px;
  display: block;
  background: #FFF;
}
#top > div#dados{
  float: left;
}
#top > div#dados h3{
  font-size: 18px;
  margin: 5px 0 0 0;
}
#top > div#dados h4{
  font-size: 15px;
  margin: 0;
}
#top:after{
  clear: both;
  content: '';
  display: block;
}
.limita_campo_texto{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 21px;
}
/**Medição de indicadores*/

#titulo_medicao{
  width: 90%;
}

#competencia_medicao{
  float: right;
  padding: 5px 10px 0px 0px;
}

#topo_medicao h4{
  font-size: 18px;
  padding: 30px 0px 2px 15px;
}

#conteudo_medicao form input{
  white-space: nowrap;
  width: 55%;
  height: 30px;
  text-align: right;
}

#conteudo_medicao form label{
  white-space: nowrap;
  width: 90%;
}

#conteudo_medicao form .porc{
  width: 20%;
  float: right;
  text-align: center;
  margin-top: -10px;
  margin: -10px 6%;
}

#conteudo_medicao  form .porc span{
  padding: 0 3px;
  border-radius: 4px;
  background: rgb(209, 218, 222);
  display: block;
  font-weight: normal;
  font-size: 13px;
}

#conteudo_medicao form .porc[sinal="VERDE"] span{
  background: rgb(34, 175, 163);
  color: #FFF;
}

#conteudo_medicao form .porc[sinal="VERMELHO"] span{
  background: #f35958;
  color: #FFF;
}

#conteudo_medicao .porc[sinal="LARANJA"] span{
  background: #fbb05e;
}
[ng-controller="Modal"] #grafico_medicao {
  height: 125px;
  padding: 10px ;
  background-color: #e5e9ec;
  margin-top: -20px;
}

[ng-controller="Modal"] #graff {
  height: 75%;
  width: 100%;
}

[ng-controller="Modal"] .content{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #f4f5f7;
  border-color:#e5e9ec;
  box-shadow:none;
  outline: 0 none !important;
  margin-top: 35% !important;
}

.btnEfetuarAnalise{
    margin: 0 -16px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] {
  padding-bottom: 5px !important;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .btnEfetuarAnalise li,
#listaIndicadores .btnEfetuarAnalise li{
    border-top: 1px solid #EEE !important;
    padding: 7px 17px;
    height: 29px;
    margin-top: 10px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .btnEfetuarAnalise li a,
#listaIndicadores .btnEfetuarAnalise li a{
    color: #6f7b8a !important;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .btnEfetuarAnalise li i,
#listaIndicadores .btnEfetuarAnalise li i{
    left: 0;
    right: auto;
    font-size: 17px;
    top: 5px;
}

.btnEfetuarAnalise li a{
    font-size: 12px !important;
}

#listaIndicadores li{
    padding-bottom: 5px !important;
}

#listaIndicadores > li > .menu{
  position: absolute;
  right: -80px;
  top: 0;
  background: #224887;
  height: 100%;
  transition: 0.2s;
  width: 70px;
  margin: 0;
  color: #FFF;
  z-index: 1;
}

#listaIndicadores > li > .menu.row .col.s3{
  width: 100%;
  text-align: center;
  padding: 0;
  height: 100%;
  padding-top: 17px;
}

#listaIndicadores > li >  .menu.row .col.s3{
  background: #224887;
}
#listaIndicadores > li > .menu.active{
  right: 0px;
}
