#filtroTop > select#ESTRUTURA_NIVEL_ZERO{
  float: left;
}

#listEstruturasIndicadores{
  margin-top: 10px;
}

#filtroAuxiliar .menu,
#listEstruturasIndicadores > li > .menu{
  position: absolute;
  right: -118px;
  top: 0;
  background: #224887;
  height: 100%;
  transition: 0.2s;
  width: 108px;
  margin: 0;
  color: #FFF;
  z-index: 1;
}

.scrollable.ng-leave #filtroAuxiliar .menu:not(.active){
  display: none;
}

#filtroAuxiliar .menu{
  width: 150px;
  right: -160px;
}

#filtroAuxiliar .menu.row .col.s3,
#listEstruturasIndicadores > li > .menu.row .col.s3{
  width: 100%;
  text-align: center;
  padding: 0;
  height: 100%;
  padding-top: 18px;
}

#filtroAuxiliar .menu.row .col.s3{
  padding-top: 6px;
}

#filtroAuxiliar .menu.row .col.s3 i{
  font-size: 22px;
  float: left;
  margin-left: 15px;
}

#filtroAuxiliar .menu.active,
#listEstruturasIndicadores > li > .menu.active{
  right: 0;
}

#listEstruturasIndicadores li ul li.r{
  filter: FlipH;
  -ms-filter: FlipH;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  background: #EEE;
  margin-right: 10px;
  font-size: 12px;
  padding: 4px 2px 0 2px;
}
#listEstruturasIndicadores li ul li img{
  filter: FlipH;
  -ms-filter: FlipH;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  background: #EEE;
  margin-right: 10px;
}

#foraFaixaMedicao span{
  position: absolute;
  right: 5px;
  top: 0;
  padding: 0 3px;
  border-radius: 4px;
  color: #FFF;
  background: rgb(34, 175, 163);
}

.porc_principal{
  margin-right: 24px;
}
body[device="ios"] .porc_principal{
  margin-right: 15px;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] #detalhamento{
  padding-top: 15px;
}


#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"]{
  min-height: 55px;
  padding-top: 15px;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] > a > img{
  float: left;
  filter: FlipH;
  -ms-filter: FlipH;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  background: #EEE;
  margin-right: 10px;
  margin-top: 0;
}
#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .dados{
  margin:0px 0px 10px 45px;
  width: 65%;
  min-height: 30px;
}
#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .dados >h3,
#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .dados >h4{
  width: 100%;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .porc{
  width: 16%;
  text-align: center;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}
body[device="ios"] #listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .porc{
  width: 18%;
  text-align: center;
  margin-right: 0px;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .porc span{
  padding: 0 3px;
  border-radius: 4px;
  color: black;
  background: rgb(209, 218, 222);
  display: block;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .porc[sinal="VERDE"] span{
  color: #FFF;
  background: rgb(34, 175, 163);
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .porc[sinal="VERMELHO"] span{
  color: #FFF;
  background: #f35958;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .porc[sinal="LARANJA"] span{
  background: #fbb05e;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .dados h3{
  margin: 0;
  font-size: 18px;
}

#listEstruturasIndicadores > li[data-tipo="ESTRUTURA"] a > .dados h4{
  margin: 0;
  font-size: 12px;
  color: #999;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] #detalhamento{
  padding-top: 30px;
}
#listEstruturasIndicadores > li[data-tipo="INDICADOR"] i.fa{
  float: left;
  font-size: 22px;
  margin-right: 10px;
}
#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .dados{
  float: left;
  margin-bottom: 10px;
  width: 88%;
}
#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .dados h3{
  margin: 0;
  font-size: 18px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] .dados h4{
  margin: 0;
  font-size: 15px;
  color: #999;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i{
  float: left;
  width: 42%;
  font-size: 12px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i span{
  display: block;
  font-weight: normal;
  font-size: 13px;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc{
  width: 15%;
  text-align: center;
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc span{
  padding: 0 3px;
  border-radius: 4px;
  color: #black;
  background: rgb(209, 218, 222);
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc[sinal="VERDE"] span{
  background: rgb(34, 175, 163);
}

#listEstruturasIndicadores > li[data-tipo="INDICADOR"] div.i.porc[sinal="VERMELHO"] span{
  background: #f35958;
}

#nenhumRegistro{
  display: none;
  padding: 10px;
}
#filtroAuxiliar .porc span{
  padding: 0 3px;
  border-radius: 4px;
  color: black;
  background: rgb(209, 218, 222);
  display: block;
  width: 15%;
  text-align: center;
  float: right;
  margin-top: -22px;
  margin-right: 10px;
  font-size: 13px;
}
body[device="ios"] #filtroAuxiliar .porc span{
  width: 17%;
  margin-right: 8px;
}

#filtroAuxiliar .porc[sinal="VERDE"] span{
  color: #FFF;
  background: rgb(34, 175, 163);
}

#filtroAuxiliar .porc[sinal="VERMELHO"] span{
  color: #FFF;
  background: #f35958;
}

#filtroAuxiliar .porc[sinal="LARANJA"] span{
  background: #fbb05e;
}