body[controller="PerformanceDetalhes"] .md-tab {
    line-height: 35px !important;
    font-size: 18px;
}

body[controller="PerformanceDetalhes"] .lstPerformance{
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
}
body[controller="PerformanceDetalhes"] .lstPerformance > li:nth-child(2){
    margin-top: 0;
}

body[controller="PerformanceDetalhes"] .lstPerformance > li:last-child{
    margin-bottom: 0;
}

body[controller="PerformanceDetalhes"] #tituloDetalhandoPerformanceDetalhes{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
}

body[controller="PerformanceDetalhes"] .lstPerformance li a > h4{
    font-size: 15px;
}

body[controller="PerformanceDetalhes"] .lstPerformance li a > span{
    font-size: 13px;
}

body[controller="PerformanceDetalhes"] .lstPerformance li h2{
    font-size: 15px;
}

body[controller="PerformanceDetalhes"] .lstPerformance li:first-child{
    border-top: 0;
}

body[controller="PerformanceDetalhes"] .compartilhar{
    width: 100%;
    display: block;
    text-align: right;
}