<link href="css/modulos/performance-detalhes.css" rel="stylesheet" type="text/css">

<div id="filtroTop">
    <p class="todo-element" ng-controller="Acumular">
        <input id="acumularAteTop" ng-model="ACUMULARATE" ng-checked="{{ACUMULARATE}}" ng-change="change()" type="checkbox" style="display: none;">
        <label for="acumularAteTop">Acumular até</label>
    </p>
    <span ng-click="abrirCompetencia()">{{COMPETENCIA}}<i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></span>
    <div ng-controller="Competencia" tipo="PLANEJAMENTOS" id="comboCompetencia" ng-include="'view/componentes/competencia.html'"></div>
</div>

<md-content class="scrollable-content efeitoLst" flex md-scroll-y scroll>
    <div>
        <md-tabs md-dynamic-height="" md-swipe-content="false" md-center-tabs="true" md-selected="$root.TAB">
            <md-tab>
                <md-tab-label>
                    Mensal
                </md-tab-label>
                <md-tab-body>
                    <div class="card" card-origem="PerformanceDREmensal" ng-include="'view/extensao_cards/PerformanceDREmensal.html'"></div>
                    <a class="compartilhar" ng-click="Compartilhar('PerformanceDREmensal', DADOS_MENSAL)">
                        <i class="fa fa-share-alt"></i>
                        Compartilhar
                    </a>
                    <div class="clearBoth"></div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    Forecast
                </md-tab-label>
                <md-tab-body>
                    <div class="card" card-origem="PerformanceDREforecast" ng-include="'view/extensao_cards/PerformanceDREforecast.html'"></div>
                    <a class="compartilhar" ng-click="Compartilhar('PerformanceDREforecast', DADOS_FORECAST)">
                        <i class="fa fa-share-alt"></i>
                        Compartilhar
                    </a>
                    <div class="clearBoth"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

        <h4 id="tituloDetalhandoPerformanceDetalhes">
            Detalhando por
            <span id="comboMenu" ng-click="comboMenuExibir()">
                {{detalhesActive}}<i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i>
            </span>
        </h4>
        <ul id="comboMenuOpcoes">
            <li ng-click="selectDetalhes(detalhes)" ng-repeat="detalhes in lstDetalhes" class="{{detalhes.ACTIVE}}">
                {{detalhes.NOME}}
            </li>
        </ul>
        <div class="clearBoth"></div>

        <ul class="lstPerformance efeitoLst">
            <div class="fundoMenu" ng-click="comboMenuExibir()"></div>
            <li ng-repeat="registro in lstRegistros" data-id="{{registro.ID}}">
                <a>
                    <h4>{{registro.NOME}}</h4>
                    <span sinal="{{registro.COR_VARIACAO}}">{{registro.VARIACAO_PERCENTUAL}}%</span>
                    <h2  style="color:{{registro.COLOR_REALIZADO}}">{{registro.REALIZADO}}</h2>
                    <div class="i">Planejado<span style="color:{{registro.COLOR_PLANEJADO}}">{{registro.PLANEJADO}}</span></div>
                    <div class="i">Variação<span style="color:{{registro.COLOR_VARIACAO}}">{{registro.VARIACAO}}</span></div>
                </a>
            </li>
        </ul>
    </div>
</md-content>
