<link href="css/modulos/performance-filtro.css" rel="stylesheet" type="text/css">

<div id="filtroTop" >
    <div ng-click="comboMenuExibir()" >
        <label style="float: left; margin-right: 5px; font-size: 1rem !important;">Filtrando</label>
        <span style="float: left" id="comboMenu">{{PREFILTRO_SELECIONADO}}</span>
    </div>
    <div>
        <button ng-click="showModal('Filtro')" class="btn-filtro">Novo filtro</button>
    </div>
</div>
<ul id="comboMenuOpcoes" class="scrollable-content">
    <li data-id="{{PREFILTRO.ID}}" mn-touch swipe-left="exibirMenu(PREFILTRO)" swipe-right="esconderMenu(PREFILTRO)" ng-repeat="PREFILTRO in LSTPREFILTRO" data-id="{{PREFILTRO.ID}}" class="{{PREFILTRO.ACTIVE}}">
        <span ng-click="selectPrefiltro(PREFILTRO, 0)">{{PREFILTRO.NOME}}</span>
        <div class="menu row" ng-if="PREFILTRO.IDUSUARIO == usuarioLogado.ID">
            <a class="col s3" ng-click="removerPrefiltro(PREFILTRO)">
                <p>Remover</p>
            </a>
            <a class="col s3" ng-click="selectPrefiltro(PREFILTRO, 1)">
                <p>Editar</p>
            </a>
        </div>
    </li>
</ul>

<md-toolbar>
    <div style="height: 101%" class="fundoMenu" ng-click="comboMenuExibir()"></div>
    <md-tabs id="tabsFiltros" md-swipe-content="false" md-center-tabs="true">
        <md-tab ng-repeat="filtro in lstFiltros" md-on-select="selectAba(filtro)" id="{{filtro.TIPO}}">
            {{filtro.NOME}}
        </md-tab>
    </md-tabs>
    <div ng-repeat="(index, filtro) in lstFiltros" class="topLst" ng-if="$root.tab_filtros == index">
        <label ng-click="selectSwipe(filtro)"><i ng-if="filtro.EXIBIR_BTN_VOLTAR == 1" class="fa fa-arrow-left"></i> {{filtro.NIVELSUPERIOR_NOME}}</label>
        <div ng-click="checkedTodos(filtro)" ng-if="filtro.PERMISSAO">
            Todos <input id="{{filtro.TIPO}}_TODOS" ng-checked="filtro.CHECKED_TODOS" type="checkbox" style="display: none;">
            <label></label>
        </div>
        <div class="clearBoth"></div>
    </div>
</md-toolbar>
<md-content class="scrollable-content" scroll flex md-scroll-y>
    <div class="fundoMenu" ng-click="comboMenuExibir()"></div>
    <div style="padding-bottom: 222px;" ng-repeat="(index, filtro) in lstFiltros" id="{{filtro.TIPO}}" ng-if="$root.tab_filtros == index">
        <div class="comboFiltroLst" mn-touch swipe-right="selectSwipe(filtro)" tipo="{{filtro.TIPO}}">
            <ul class="efeitoLst filtrosLst">
                <li ng-repeat="item in filtro.ITENS" class="card clearBoth" checked_filhos="{{item.CHECKED_FILHOS}}" data-id="{{item.ID}}">
                    <input ref="{{filtro.TIPO}}" id="{{filtro.TIPO}}{{item.ID}}" ng-disabled="!filtro.PERMISSAO" ng-checked="item.CHECKED" ng-click="checked(filtro, item)" type="checkbox" style="display: none;">
                    <label for="{{filtro.TIPO}}{{item.ID}}"></label>
                    <a ng-click="select(filtro, item)">
                        <i ng-if="item.ULTIMONIVEL == 0" class="fa fa-plus-square-o" aria-hidden="true"></i>
                        {{item.NOME}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="semRegistros" ng-if="filtro.ITENS && filtro.ITENS.length == 0">
            <img src="img/erro_{{filtro.TIPO}}.png">
            <h3 ng-if="filtro.NOME == 'Unidades'" >Não há {{filtro.NOME}} cadastradas para esta solicitação.</h3>
            <h3 ng-if="filtro.NOME != 'Unidades'" >Não há {{filtro.NOME}} cadastrados para esta solicitação.</h3>
        </div>
    </div>
</md-content>

<div ng-controller="Modal" ref="Filtro">
    <div class="fundo" ng-click="hideModal('Filtro')"></div>
    <div class="content">
        <h3>
            Novo filtro
        </h3>
        <form id="formPreFiltro" action="configuracoes/salvarprefiltro" method="post">
            Nome
            <input type="text" name="NOME" value="" />
        </form>
        <div class="modal-footer">
            <button type="button" ng-click="salvarPrefiltro()" class="btn btn-salvar" type="submit" >Salvar</button>
            <button type="button" ng-click="cancelarPrefiltro(); hideModal('Filtro')" class="btn btn-white btn-cons "  >Cancelar</button>
        </div>
    </div>
</div>

<button class="btn-fab" ng-click="backpageTop(true)" >
    <label>Aplicar filtro</label>
    <span><i style="font-size: 30px; margin-left: -5px;" class="fa fa-check" aria-hidden="true"></i></span>
</button>