<link href="css/modulos/performance.css" rel="stylesheet" type="text/css">
<div id="filtroTop" ng-if="lstContas.length">
    <p class="todo-element" ng-controller="Acumular">
        <input id="acumularAteTop" ng-model="ACUMULARATE" ng-checked="{{ACUMULARATE}}" ng-change="change()" type="checkbox" style="display: none;">
        <label for="acumularAteTop">Acumular até</label>
    </p>
    <span ng-click="abrirCompetencia()">{{COMPETENCIA}}<i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></span>
    <div ng-controller="Competencia" TIPO="PLANEJAMENTOS" id="comboCompetencia" ng-include="'view/componentes/competencia.html'"></div>
</div>

<md-content class="scrollable-content" scroll flex md-scroll-y ng-if="lstContas.length">
    <div>
        <ul class="lstPerformance {{efeitoLst}}" tipo="CONTAS">
            <li ng-repeat="conta in lstContas" data-id="{{conta.ID}}" data-ultimonivel="{{conta.ULTIMONIVEL}}" mn-touch swipe-left="exibirMenu(conta)" swipe-right="esconderMenu(conta)">
                <a ng-click="getConta(conta)">
                    <h4>{{conta.NOME_CONTA}}</h4>
                    <span sinal="{{conta.COR_VARIACAO}}">{{conta.VARIACAO_PERCENTUAL}}%</span>
                    <h2 style="color: {{conta.COLOR_REALIZADO}}">{{conta.REALIZADO}}</h2>

                    <div class="i">Planejado<span style="color: {{conta.COLOR_PLANEJADO}}">{{conta.PLANEJADO}}</span></div>
                    <div class="i">Variação<span style="color: {{conta.COLOR_VARIACAO}}">{{conta.VARIACAO}}</span></div>
                </a>

                <div class="menu row">
                    <a class="col s3" ng-click="$root.TAB = 0" href="#!/performance-detalhes/{{conta.ID}}">
                        <i class="mdi mdi-chart-line"></i>
                        <p>Mensal</p>
                    </a>
                    <a class="col s3" ng-click="$root.TAB = 1" href="#!/performance-detalhes/{{conta.ID}}">
                        <i class="mdi mdi-chart-bar"></i>
                        <p>Forecast</p>
                    </a>
                    <a class="col s3" href="#!/performance-resumo/0/{{conta.ID}}">
                        <i class="fa fa-clock-o"></i>
                        <p>Linha do tempo</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</md-content>
<div class="semRegistros" ng-if="!lstContas.length">
    <img src="img/erro_dre.png">
    <h3>Não encontramos nenhuma DRE disponível.</h3>
</div>