<md-content id="resumoLinhaDoTempo" class="efeitoLst scrollable-content" flex md-scroll-y scroll style="padding-top: 10px">
    <div class="card padding_0">
        <h4 ng-click="getConta()" style="min-height: 50px">
            <div>{{data.DADOS.NOME}} </div>

            <div style="color: {{data.DADOS.COLOR_REALIZADO}}; float: right !important;" ><span>{{data.DADOS.REALIZADO}}</span></div>
        </h4>
        <div id="blocoDetalhamento">
            <h3>Detalhamento</h3>
            <ul>
                <li data-id="{{detalhes.ID}}" ng-click="getConta(detalhes)" ng-repeat="detalhes in lstDetalhamento">
                    <span>{{detalhes.NOME}}</span>
                    <span style="color: {{detalhes.COLOR_VARIACAO}}">{{detalhes.VARIACAO}}%</span>
                    <span style="color: {{detalhes.COLOR_VALOR}}">{{detalhes.VALOR}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="card padding_0">
        <h4>Por unidade</h4>
        <div id="graf_u"></div>
        <a class="compartilhar" ng-click="Compartilhar('PerformanceTimelineUnidade', data)">
            <i class="fa fa-share-alt"></i>
            Compartilhar
        </a>
    </div>

    <div class="card padding_0">
        <h4>Por centros de custos</h4>
        <div id="graf_cc"></div>
        <a class="compartilhar" ng-click="Compartilhar('PerformanceTimelineCC', data)">
            <i class="fa fa-share-alt"></i>
            Compartilhar
        </a>
    </div>

    <div class="card padding_0">
        <div style="margin: 15px" ng-include="'view/extensao_cards/PerformanceTimelineForecast.html'"></div>
        <a class="compartilhar" ng-click="Compartilhar('PerformanceTimelineForecast', data)">
            <i class="fa fa-share-alt"></i>
            Compartilhar
        </a>
    </div>
</md-content>