<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Pagamento de Refeições e Bebidas - FoodPay</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="pt_BR">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">


    <link href="css/style-sistema.css" rel="stylesheet" type="text/css">
    <link href="plugins/alert/jquery.edp-alert.css" media="all" rel="stylesheet" type="text/css" >
    <link href="css/font.css" media="all" rel="stylesheet" type="text/css" >
    <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/keyframes.css" rel="stylesheet" type="text/css">
    <link href="css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="css/teclado.css" rel="stylesheet" type="text/css">

    <link href="plugins/angular/css/mobile-angular-ui-base.css" rel="stylesheet" />
    <link href="plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css">
    <link href="css/modal.css" rel="stylesheet" type="text/css">

    <script src="plugins/jquery-2.1.1.min.js"></script>
    <script src="plugins/pace/pace.min.js"></script>
    <script src="plugins/angular.min.js"></script>
    <script src="plugins/angular-route.min.js"></script>
    <script src="plugins/angular-animate.js"></script>
    <script src="plugins/moment.min.js"></script>
    <script src="plugins/moment-with-locales.min.js"></script>
    <script src="plugins/angular/js/mobile-angular-ui.min.js"></script>
    <script src="plugins/angular/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="plugins/alert/jquery.edp-alert.js"></script>
    <script src="plugins/lang.plano.js"></script>

    <script src="plugins/mn-touch/mn-touch.min.js"></script>

    <script src="plugins/device-detector/ng-device-detector.min.js"></script>
    <script src="plugins/device-detector/re-tree.min.js"></script>
    <script src="plugins/jquery.price_format.2.0.min.js"></script>

    <script src="js/functions.js"></script>
    <script src="js/config.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <!--<script type="text/javascript" src="js/qrcode.js"></script>-->
    <script src="js/app.js"></script>

    <script src="js/modulos/login.js"></script>
    <script src="js/modulos/index.js"></script>
    <script src="js/modulos/formas-de-pagamento.js"></script>
    <script src="js/modulos/estabelecimento.js"></script>

    <link rel="stylesheet" href="css/angular-material.min.css">
    <script src="plugins/angular-aria.js"></script>
    <script src="plugins/angular-material.min.js"></script>
    <script src="plugins/angular-sanitize.js"></script>

    <script src="plugins/elastic.js"></script>

    <link href="img/favicon.png" rel="shortcut icon" >
  </head>
  <body mn-touch device="{{device}}" controller="{{controller}}" ng-app="App">
    <div class="app" ng-controller="Main" ui-prevent-touchmove-defaults>
      <div mn-touch swipe-right="swipeRight()" ng-include="'view/menu/top.html'" id="toolbar"></div>
      <span id="ambiente_teste" ng-if="ambiente_teste == 1">Ambiente de testes</span>
        <div id="map" ng-include="'view/maps.html'"></div>
        <button id="scan">Iniciar</button>
        <style>
          button#scan{
            position: fixed;
            bottom: 20px;
            left: 50%;
            z-index: 9;
          }
        </style>

      <script type="text/javascript">
          $(document).ready(function() {
              document.addEventListener("deviceready", onDeviceReady, false);
          });

          function onDeviceReady() {
              $('#scan').click( function()
                  {
                      cordova.plugins.barcodeScanner.scan(
                          function (result) {
                              alert("We got a barcode\n" +
                                  "Result: " + result.text + "\n" +
                                  "Format: " + result.format + "\n" +
                                  "Cancelled: " + result.cancelled);
                          },
                          function (error) {
                              alert("Scanning failed: " + error);
                          },
                          {
                              preferFrontCamera : false, // iOS and Android
                              showFlipCameraButton : true, // iOS and Android
                              showTorchButton : true, // iOS and Android
                              torchOn: false, // Android, launch with the torch switched on (if available)
                              saveHistory: false, // Android, save scan history (default false)
                              prompt : "fdfs\nfdlfskdjl\nlfkjdflsd", // Android
                              resultDisplayDuration: 0, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
                              formats : "QR_CODE", // default: all but PDF_417 and RSS_EXPANDED
                              orientation : "portrait", // Android only (portrait|landscape), default unset so it rotates with the device
                              disableAnimations : false, // iOS
                              disableSuccessBeep: false // iOS and Android
                          }
                      );
                  }
              );
          }
      </script>

      <div class="app-body" ng-show="show_body">
        <div class="app-content">
          <div class="scrollable ng-scope" ng-view></div>
        </div>
      </div>
      <!--<div mn-touch swipe-right="swipeRight()" id="menu-bottom" ng-include="'view/menu/bottom.html'" class="navbar-absolute-bottom"></div>-->
    </div>

    <div id="fundo_transparente" ng-click="menuClose()" mn-touch swipe-left="swipeLeft()" swipe-right="swipeRight()" ui-prevent-touchmove-defaults></div>

    <div id="menuLeft" class="Menuleft " mn-touch swipe-left="swipeLeft()" swipe-right="swipeRight()" ui-prevent-touchmove-defaults>
      <div id="faixaLeft">
        <img src="img/logo.jpg" border="0">
      </div>
      <ul>
        <li ng-repeat="menu in MenuLeft"><a href="{{menu.url}}">{{menu.titulo}}</a></li>
      </ul>
    </div>
  </body>
</html>