<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>
      Mobile Plano
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="pt_BR">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">

    <link href="plugins/alert/jquery.edp-alert.css" media="all" rel="stylesheet" type="text/css" >
    <link href="css/font.css" media="all" rel="stylesheet" type="text/css" >
    <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/keyframes.css" rel="stylesheet" type="text/css">
    <link href="css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="css/teclado.css" rel="stylesheet" type="text/css">

    <link href="plugins/angular/css/mobile-angular-ui-base.css" rel="stylesheet" />
    <link href="plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css">
    <link href="css/style-sistema.css" rel="stylesheet" type="text/css">
    <link href="css/modal.css" rel="stylesheet" type="text/css">

    <script src="plugins/jquery-2.1.1.min.js"></script>
    <script src="plugins/pace/pace.min.js"></script>
    <script src="plugins/angular.min.js"></script>
    <script src="plugins/angular-route.min.js"></script>
    <script src="plugins/angular-animate.js"></script>
    <script src="plugins/moment.min.js"></script>
    <script src="plugins/moment-with-locales.min.js"></script>
    <script src="plugins/angular/js/mobile-angular-ui.min.js"></script>
    <script src="plugins/angular/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="plugins/alert/jquery.edp-alert.js"></script>
    <script src="plugins/lang.plano.js"></script>

    <script src="plugins/highcharts/highstock.js"></script>
    <script src="plugins/highcharts/modules/exporting.js"></script>
    <script src="plugins/highcharts/grouped-categories.js"></script>
    <script src="plugins/highcharts/highcharts-more.js"></script>
    <script src="plugins/highcharts/modules/heatmap.js"></script>
    <script src="plugins/highcharts/modules/treemap.js"></script>
    <script src="plugins/highcharts/fuctions.js"></script>
    <script src="plugins/mn-touch/mn-touch.min.js"></script>

    <script src="plugins/device-detector/ng-device-detector.min.js"></script>
    <script src="plugins/device-detector/re-tree.min.js"></script>
    <script src="plugins/jquery.price_format.2.0.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/modulos/login.js"></script>
    <script src="js/modulos/compartilhar.js"></script>
    <script src="js/modulos/performance.js"></script>
    <script src="js/modulos/indicadores.js"></script>
    <script src="js/modulos/acoes.js"></script>
    <script src="js/modulos/componentes.js"></script>

    <link rel="stylesheet" href="css/angular-material.min.css">
    <script src="plugins/angular-aria.js"></script>
    <script src="plugins/angular-material.min.js"></script>
    <script src="plugins/angular-sanitize.js"></script>

    <script src="plugins/elastic.js"></script>

    <link href="img/favicon.png" rel="shortcut icon" >

    <script type="text/javascript">
        setTimeout(function(){
            $('#carregando_sistema img').fadeToggle("slow");
        }, 3000);
        setTimeout(function(){
            $('#carregando_sistema label').fadeToggle("slow");
        }, 5000);
    </script>
  </head>
  <body class="verificando_login" device="{{device}}" controller="{{controller}}" ng-app="App">
    <div id="carregando_sistema">
      <img src="img/Vinheta-App-v2.3.gif">
      <label>Por favor aguarde, carregando...</label>
    </div>

    <div class="app" ng-controller="Main" ui-prevent-touchmove-defaults>
      <div mn-touch swipe-right="swipeRight()" ng-include="'view/menu/top.html'" id="toolbar"></div>
      <span id="ambiente_teste" ng-if="ambiente_teste == 1">Ambiente de testes</span>
      <div class="app-body">
        <div class="app-content">
          <div class="scrollable ng-scope" ng-view></div>
        </div>
      </div>
      <div mn-touch swipe-right="swipeRight()" id="menu-bottom" ng-include="'view/menu/bottom.html'" class="navbar-absolute-bottom"></div>
    </div>

    <div id="fundo_transparente" ng-click="menuClose()" mn-touch swipe-left="swipeLeft()" ui-prevent-touchmove-defaults></div>

    <div id="menuLeft" class="Menuleft " mn-touch swipe-left="swipeLeft()" ui-prevent-touchmove-defaults>
      <!--imagem de quem esta logado-->
      <div id="login" class="img_login">
        <img src="{{usuarioLogado.url_avatar||''}}" on-error-src border="0">
        <div id="dados" class="ativo">
          <h3>{{usuarioLogado.NOME}}</h3>
          <h4>{{usuarioLogado.EMAIL}}</h4>
        </div>
      </div>
      <!--conteudo com menu -->
      <div ng-repeat="menu in MenuLeft" style="text-align: left;" class="{{menu.tipo}} ativo">
        <a ng-click="locationMenuLeft(menu)">
          <i class="{{menu.icone}}" style="font-size: 22px"></i> {{menu.titulo}}
        </a>
      </div>
      <!--logout-->
      <div id="footerMenu">
        <a ng-click="$mdMenu.close($event)" onclick="window.location = 'login.html';">
          <i class="fa fa-sign-out" aria-hidden="true" style="padding-right: 5px"></i>Sair do Plano
        </a>
      </div>
    </div>

    <div id="blocoTeclado" ng-controller="Teclado">
      <div ng-click="close()"></div>
      <table>
        <tbody>
        <tr ng-repeat="linha in $root.lstLinhas">
          <td ng-click="select(item)" border="{{item.caracter}}" ng-repeat="item in linha" ng-bind-html="item.html"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="slider" mn-touch swipe-left="slider('next')" swipe-right="slider('prev')" ui-prevent-touchmove-defaults>
      <ul>
        <li ng-click="slider('next')" class="{{registro.CLASS}}" ng-repeat="registro in lstSlider">
          <img src="{{registro.IMG}}" border="0">
        </li>
      </ul>
    </div>
  </body>
</html>