{{REG.NOME}}

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript">
    var app = {
        // Application Constructor
        initialize: function() {
            this.bindEvents();
        },
        // Bind Event Listeners
        //
        // Bind any events that are required on startup. Common events are:
        // 'load', 'deviceready', 'offline', and 'online'.
        bindEvents: function() {
            //document.addEventListener('deviceready', this.onDeviceReady, false);
        },

        teste1: function(){
            QRScanner.scan(displayContents);

            function displayContents(err, text){
                if(err){
                    // an error occurred, or the scan was canceled (error code `6`)
                } else {
                    // The scan completed, display the contents of the QR code:
                    alert(text);
                }
            }
        },
        teste: function(){
            QRScanner.prepare(onDone); // show the prompt

            function onDone(err, status){
                if (err) {
                    // here we can handle errors and clean up any loose ends.
                    console.error(err);
                }
                if (status.authorized) {
                    // W00t, you have camera access and the scanner is initialized.
                    // QRscanner.show() should feel very fast.
                } else if (status.denied) {
                    // The video preview will remain black, and scanning is disabled. We can
                    // try to ask the user to change their mind, but we'll have to send them
                    // to their device settings with `QRScanner.openSettings()`.
                } else {
                    // we didn't get permission, but we didn't get permanently denied. (On
                    // Android, a denial isn't permanent unless the user checks the "Don't
                    // ask again" box.) We can ask again at the next relevant opportunity.
                }
            }
        },
        capturePhoto: function(){
            navigator.camera.getPicture(onSuccess, onFail, {
                quality: 50,
                destinationType: Camera.DestinationType.DATA_URL,
                saveToPhotoAlbum: true
            });

            function onSuccess(imageData) {
                var image = document.getElementById('minhaImagem');
                image.style.display = "block";
                image.src = "data:image/jpeg;base64," + imageData;
                alert(image.src);
            }

            function onFail(message) {
                alert('Failed because: ' + message);
            }
        }
    };
    app.initialize();
</script>

<button onclick="app.teste()">teste</button>
<button onclick="app.teste1()">teste1</button>
<button onclick="app.capturePhoto()">capturePhoto</button>
<div id="minhaImagem" style="width: 100%; height: 100%"></div>


