<link href="css/modulos/acoes-atualizar.css" rel="stylesheet" type="text/css">
<link href="css/modulos/acoes-detalhes.css" rel="stylesheet" type="text/css">
<style ng-if="ID != 0">
    body[controller="AcoesDetalhes"] .app-body{
        padding-top: 0;
    }

    body[controller="AcoesDetalhes"] #toolbar .title{
        display: none;
    }
</style>

<md-toolbar ng-if="ID != 0">
    <md-tabs md-swipe-content="true" md-center-tabs="true" md-selected="$root.TAB_ACAO">
        <md-tab>Ação</md-tab>
        <md-tab>Histórico</md-tab>
    </md-tabs>
</md-toolbar>
<md-content ng-style="ID != 0 && {'margin-top':'10px'}" style="padding-bottom: 60px" class="scrollable-content" scroll flex md-scroll-y>
    <div class="card" style="padding: 5px 10px 10px" ng-if="$root.TAB_ACAO == 0">
        <form id="formAcao" onsubmit="return false;" action="indicadores/formacao" method="post">
            <input type="hidden" name="KEY" ng-value="DADOS.KEY">

            <label class="title">Ação:</label>
            <textarea class="msd-elastic" data-ng-model="DADOS.TITULO" ng-readonly="!DADOS.PERMISSAO" name="TITULO" id="TITULO" placeholder="Digite a Ação">{{DADOS.TITULO}}</textarea>

            <label class="title m-t-10">Responsável:</label>
            <input type="hidden" name="USUARIO" ng-value="DADOS.USUARIO">
            <md-select ng-disabled="!DADOS.PERMISSAO" ng-model="DADOS.USUARIO" md-on-close="pesquisarUsuarios = ''" ng-controller="Usuarios" md-on-open="carregarLista()" placeholder="Pesquisar usuários..." style="font-size: 0.8rem;">
                <md-select-header>
                    <h2>Usuários</h2>
                    <input ng-model="pesquisarUsuarios" class="formata-icone" placeholder="&#xf002; Pesquisar..." select-search>
                </md-select-header>
                <md-content>
                    <md-option ng-value="USUARIO.id" ng-repeat="USUARIO in USUARIOS | filter:pesquisarUsuarios" ng-selected="USUARIO.id == DADOS.USUARIO" >
                        <table>
                            <tr>
                                <td rowspan="2" style="width: 35px"><img class="imgSelect" src="{{USUARIO.imagem}}" on-error-src border="0"></td>
                                <td class="textSelect">{{USUARIO.name}}</td>
                            </tr>
                            <tr><td class="textSelect">{{USUARIO.email}}</td></tr>
                        </table>
                    </md-option>
                    <h4 ng-if="!USUARIOS.length">Nenhum registro localizado!</h4>
                </md-content>
                <md-select-footer>
                    <button ng-click="closeSelect()" class="btn btn-default" type="button">CANCELAR</button>
                </md-select-footer>
            </md-select>

            <label class="title m-t-10">Descrição:</label>
            <textarea class="msd-elastic" data-ng-model="DADOS.DESCRICAO" ng-readonly="!DADOS.PERMISSAO" name="DESCRICAO" id="DESCRICAO" placeholder="Digite a Descrição">{{DADOS.DESCRICAO}}</textarea>

            <input type="hidden" name="PERCENTUAL" ng-value="DADOS.PERCENTUAL">
            <input type="hidden" name="STATUS" ng-value="DADOS.STATUS">
            <div ng-if="ID != 0" id="blocoAcaoAtualizar" style="padding: 25px 0 0 0">
                <div id="iconStatusGestaoAcao" class="icon-status">
                    <i title="Em espera" ng-click="statusProcess(1)" data-class="em-espera" class="fa fa-stop status"></i>
                    <i title="Para fazer" ng-click="statusProcess(2)" data-class="para-fazer" class="fa fa-pause status"></i>
                    <i title="Em andamento" ng-click="statusProcess(3)" data-class="em-andamento" class="fa fa-play status"></i>
                    <i title="Concluída" ng-click="statusProcess(4)" data-class="concluidas" class="fa fa-check status"></i>
                </div>
                <div id="status-acao" class="status-acao" status="{{DADOS.STATUS}}">{{DADOS.STATUS_LABEL}}</div>
                <div class="clearBoth"></div>
                <md-slider style="margin-top: 25px" ng-disabled="DADOS.SLIDER_DISABLED" min="0" max="100" step="1" value="50" ng-change="alterSliderStatus()" ng-model="DADOS.PERCENTUAL" tickInterval="1" aria-label="rating" flex md-discrete></md-slider>
            </div>

            <div ng-if="DADOS.CHANGE_PERCENTUAL == 1">
                <label class="title">Descreva o motivo do progresso:</label>
                <textarea class="msd-elastic" data-ng-model="DADOS.OBSERVACAO" name="OBSERVACAO" id="OBSERVACAO" placeholder="Digite o Motivo"></textarea>
            </div>
            <div class="campo-data">
                <label class="title m-t-10">Data de início:</label><br>
                <input type="hidden" name="DATAINICIO" ng-value="DADOS.DATAINICIO">
                <md-datepicker class="color_disabled" ng-disabled="!DADOS.PERMISSAO" ng-model="DADOS.DATAINICIO_label" ng-change="DADOS.DATAINICIO = formatDate(DADOS.DATAINICIO_label)" md-date-locale="locale" md-open-on-focus></md-datepicker>
            </div>
            <div class="campo-data">
                <label class="title m-t-10">Finaliza em:</label><br>
                <input type="hidden" name="DATAFINALIZAR" ng-value="DADOS.DATAFINALIZAR">
                <md-datepicker class="color_disabled" ng-disabled="!DADOS.PERMISSAO" ng-model="DADOS.DATAFINALIZAR_label" ng-change="DADOS.DATAFINALIZAR = formatDate(DADOS.DATAFINALIZAR_label)" md-date-locale="locale" md-open-on-focus></md-datepicker>
            </div>
            <div class="campo-data" ng-if="DADOS.DATAORIGINAL_label.length">
                <label class="title m-t-10">Prazo original:</label><br>
                <md-datepicker class="color_disabled" ng-disabled="true" ng-model="DADOS.DATAORIGINAL_label" md-date-locale="locale" md-open-on-focus></md-datepicker>
            </div>
            <div class="campo-data" ng-if="ID != 0">
                <label class="title m-t-10">Data criação:</label><br>
                <md-datepicker class="color_disabled" ng-disabled="true" ng-model="DADOS.DATACRIACAO_label" md-date-locale="locale" md-open-on-focus></md-datepicker>
            </div>

            <div class="clearBoth" ng-if="ID != 0">
                <label class="title m-t-10">Plano de ação:</label><br />
                <label>{{DADOS.TITULO_PAI}}</label>
            </div>
            <br />
            <div id="blocoAcaoDetalhesDesignado" class="clearBoth" ng-if="ID != 0">
                <label class="title">Designado por:</label>
                <div class="user">
                    <img src="{{DADOS.IMAGEM_CADASTRADO_POR}}" on-error-src border="0">
                    <div class="dados">
                        <h3>{{DADOS.NOME_CADASTRADO_POR}}</h3>
                        <h4>{{DADOS.EMAIL_CADASTRADO_POR}}</h4>
                    </div>
                </div>
            </div>
            <div class="clearBoth"></div>

            <div style="text-align: center; margin: 0; margin-top: 20px">
                <button ng-if="DADOS.PERMISSAO == true" class="btn btn-salvar" type="button" ng-click="salvarAcao()">Salvar</button>
                <button class="btn btn-default" type="button" ng-click="cancelarAcao()">Cancelar</button>
                <button ng-if="(ID != 0 || ID_PARAMS == 'EDITAR') && DADOS.PERMISSAO_REMOVER == true" class="btn btn-default btn-danger" type="button" ng-click="excluirAcao()">Remover</button>
            </div>
        </form>
    </div>
    <div ng-if="$root.TAB_ACAO == 1">
        <div class="semRegistros" ng-if="DADOS.HISTORICO.length < 1">
            <h3 style="margin-top: 5px">Nenhum registro localizado!</h3>
        </div>
        <div ng-if="DADOS.HISTORICO.length >= 1" class="card" style="margin: 0 10px 10px; padding: 0; position: relative;">
            <i class="linha-historico"></i>
            <div class="container timeline card" style="margin: 0" >
                <div class="row" ng-repeat="registro in DADOS.HISTORICO">
                    <div class="col s12">
                        <div class="contact">
                                    <span class="date" style="left: -53px; top: 27px;">
                                        {{registro.DATA}}<br>
                                        {{registro.HORA}} <b nf-if="registro.PERIODO">{{registro.PERIODO}}</b>
                                    </span>
                            <div class="bloco-historico">
                                <i class="seta-esquerda"></i>
                                <img src="{{registro.IMAGEM}}" class="img_user" on-error-src border="0">
                                <p>{{registro.NOME_USUARIO}}</p>

                                <span ng-bind-html="trustAsHtml(registro.TEXTO)"></span>
                            </div>
                            <i style="background-color: #f7f7f7;">{{registro.DATAHORA}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>