<link href="css/modulos/acoes-minhas.css" rel="stylesheet" type="text/css">
<md-toolbar>
    <md-tabs id="tabsMinhasAcoes" md-swipe-content="true" md-center-tabs="true" md-selected="$root.tab_minhas_acoes">
        <md-tab ng-repeat="tipo in lstRegistros" md-on-select="carregaAba(tipo)" id="{{tipo.TIPO}}">
            <span ng-if="tipo.QTDE > 0" tipo="{{tipo.TIPO}}"></span>{{tipo.QTDE}}
            <br>
            {{tipo.LABEL}}
        </md-tab>
    </md-tabs>
    <ul ng-repeat="(index, tipo) in lstRegistros" ng-if="tipo.TIPO == 'todos' && $root.tab_minhas_acoes == index" class="filtroAcao">
        <li ng-click="filtroAcao(tipo, filtro)" ng-repeat="(status, filtro) in tipo.FILTROS" active="{{filtro.ACTIVE}}" status="{{status}}">{{filtro.NOME}}</li>
        <div class="clearBoth"></div>
    </ul>
</md-toolbar>
<md-content class="scrollable-content" scroll flex md-scroll-y>
    <div ng-repeat="(index, tipo) in lstRegistros" id="{{tipo.TIPO}}" ng-if="$root.tab_minhas_acoes == index">
        <ul style="padding-bottom: 50px" ng-style="tipo.TIPO == 'todos' && {'padding-bottom':'90px'}" ng-if="tipo.EXIBIR && tipo.ITENS.length" class="BlocolstMinhasAcoes efeitoLst">
            <li ng-click="abrir(registro)" data-atrasado="{{registro.ATRASADO}}" class="lstMinhasAcoes" ng-repeat="registro in tipo.ITENS"  data-id="{{registro.ID}}" mn-touch swipe-left="exibirMenu(registro)" swipe-right="esconderMenu(registro)">
                <h4>{{registro.TITULO}}</h4>
                <label>{{registro.DESCRICAO}}</label>
                <div class="user">
                    <img src="{{registro.IMAGEM}}" on-error-src border="0">
                    <div class="dados">
                        <h3 class="limitaLabel80">{{registro.NOME_USUARIO}}</h3>
                        <h4 class="limitaLabel80">{{registro.EMAIL}}</h4>
                    </div>
                </div>
                <div class="status">
                    <i>{{registro.PERCENTUAL}}%</i>
                    <span status="{{registro.STATUS}}">{{registro.STATUS_LABEL}}</span>
                    <br><label atrasado="{{registro.ATRASADO}}">{{registro.STATUS_TERMINO}}</label>
                </div>
                <div class="clearBoth"></div>
                <div class="menu row">
                    <a class="col s3" ng-click="AtualizarAcao(registro);$event.stopPropagation();">
                        <p>Atualizar Ação</p>
                    </a>
                </div>
            </li>
        </ul>
        <div class="semRegistros" ng-if="tipo.EXIBIR && !tipo.ITENS.length">
            <img src="img/erro_planos.png">
            <h3>{{tipo.msgNenhumRegistros}}</h3>
        </div>
    </div>
</md-content>
<div ng-controller="Modal" ref="AtualizarAcao">
    <link href="css/modulos/acoes-atualizar.css" rel="stylesheet" type="text/css">
    <div class="fundo" ng-click="hideModal('AtualizarAcao')"></div>
    <div class="content" ng-include="'view/acoes/modal-atualizar.html'"></div>
</div>