<link href="css/modulos/acoes-planos-de-acao-detalhes.css" rel="stylesheet" type="text/css">
<style ng-if="ID_PLANO_ACAO != 0">
    body[controller="PlanoDeAcaoDetalhes"] .app-body{
        padding-top: 0;
    }

    body[controller="PlanoDeAcaoDetalhes"] #toolbar .title{
        display: none;
    }
</style>
<md-toolbar ng-if="ID_PLANO_ACAO != 0">
    <md-tabs md-swipe-content="true" md-center-tabs="false" md-selected="$root.TAB_PLANO_ACAO">
        <md-tab md-on-select="setAba(0)">Detalhes</md-tab>
        <md-tab md-on-select="setAba(1)">Ações</md-tab>
        <md-tab md-on-select="setAba(2)" ng-if="$root.PLANODEACAO.PERMISSOES.length >= 1 || $root.PLANODEACAO.PERMISSAO == true">Permissões</md-tab>
        <md-tab md-on-select="setAba(3)">Histórico</md-tab>
    </md-tabs>
    <div>
        <button style="font-size: 14px;" ng-if="$root.TAB_PLANO_ACAO == 1 && PLANODEACAO.STATUS != 5 && $root.PLANODEACAO.PERMISSAO_ACOES == true" class="btn-small" type="button" ng-click="location('#!/minhas-acoes-detalhes/0/'+ID_PLANO_ACAO)">Adicionar ação</button>
        <button style="font-size: 14px;" ng-if="$root.TAB_PLANO_ACAO == 2 && $root.PLANODEACAO.PERMISSAO == true" style="margin-bottom: 10px" class="btn-small" ng-click="showModal('AddPermissao')" type="button">Adicionar permissões</button>
        <div class="clearBoth"></div>
    </div>
</md-toolbar>
<md-content ng-style="ID_PLANO_ACAO != 0 && {'margin-top':'10px'}" style="padding-bottom: 60px" class="scrollable-content" scroll flex md-scroll-y>
    <div class="card" style="margin: 0 10px 10px; padding: 6px 11px 13px;" ng-if="$root.TAB_PLANO_ACAO == 0">
        <form id="formPlanoDeAcao" onsubmit="return false;" action="indicadores/formplanoacao" method="post">
            <label class="title">Plano de ação:</label>
            <textarea class="msd-elastic" data-ng-model="$root.PLANODEACAO.TITULO" ng-readonly="!$root.PLANODEACAO.PERMISSAO" name="TITULO" id="TITULO"  placeholder="Digite o Nome"></textarea>

            <label class="title m-t-10">Responsável:</label>
            <input type="hidden" name="USUARIO" ng-value="$root.PLANODEACAO.USUARIO">
            <md-select ng-disabled="!$root.PLANODEACAO.PERMISSAO" ng-model="$root.PLANODEACAO.USUARIO" md-on-close="pesquisarUsuarios = ''" ng-controller="Usuarios" md-on-open="carregarLista()"  placeholder="Pesquisar usuários..."  >
                <md-select-header>
                    <h2>Usuários</h2>
                    <input ng-model="pesquisarUsuarios" class="formata-icone" placeholder="&#xf002; Pesquisar..." select-search>
                </md-select-header>
                <md-content>
                    <md-option ng-value="USUARIO.id" ng-repeat="USUARIO in USUARIOS | filter:pesquisarUsuarios" ng-selected="USUARIO.id == $root.PLANODEACAO.USUARIO">
                        <table>
                            <tr>
                                <td rowspan="2" style="width: 35px">
                                    <img class="imgSelect" src="{{USUARIO.imagem}}" on-error-src border="0"></td>
                                <td class="textSelect">{{USUARIO.name}}</td>
                            </tr>
                            <tr><td class="textSelect">{{USUARIO.email}}</td></tr>
                        </table>
                    </md-option>
                    <h4 ng-if="!USUARIOS.length">Nenhum registro localizado!</h4>
                </md-content>
                <md-select-footer>
                    <button ng-click="closeSelect()" class="btn btn-default" type="button">CANCELAR</button>
                </md-select-footer>
            </md-select>

            <label class="title m-t-10">Descrição:</label>
            <textarea class="msd-elastic" data-ng-model="$root.PLANODEACAO.DESCRICAO" ng-readonly="!$root.PLANODEACAO.PERMISSAO" name="DESCRICAO" id="DESCRICAO"  placeholder="Digite a Descrição"></textarea>

            <label class="title m-t-10">Status:</label>
            <input type="hidden" name="STATUS" ng-value="$root.PLANODEACAO.STATUS">
            <ul id="boxe_status">
                <li ng-value="3" ng-click="alterarStatus(3)" ng-selected="3 == $root.PLANODEACAO.STATUS">Em andamento</li>
                <li ng-value="4" ng-click="alterarStatus(4)" ng-selected="4 == $root.PLANODEACAO.STATUS">Concluído</li>
                <li ng-value="5" ng-click="alterarStatus(5)" ng-selected="5 == $root.PLANODEACAO.STATUS">Cancelado</li>
                <li ng-value="6" ng-click="alterarStatus(6)" ng-selected="6 == $root.PLANODEACAO.STATUS">Arquivado</li>
            </ul>

            <div ng-if="ID_PLANO_ACAO != 0">
                <div style="margin-bottom: 10px" ng-if="$root.PLANODEACAO.ULTIMA_ATUALIZACAO.length > 1">
                    <label style="font-size: 12px;">{{$root.PLANODEACAO.ULTIMA_ATUALIZACAO}}</label>
                </div>
                <label class="title m-t-10">Cadastrado por:</label>
                <table>
                    <tr>
                        <td rowspan="2" style="width: 35px"><img class="imgSelect" src="{{$root.PLANODEACAO.IMAGEM_CADASTRADO_POR}}" on-error-src border="0"></td>
                        <td class="textSelect">{{$root.PLANODEACAO.NOME_CADASTRADO_POR}}</td>
                    </tr>
                    <tr><td class="textSelect">{{$root.PLANODEACAO.EMAIL_CADASTRADO_POR}}</td></tr>
                </table>
            </div>

            <div style="text-align: center;margin: 15px 0 0;">
                <button ng-if="$root.PLANODEACAO.PERMISSAO == true" class="btn btn-salvar" type="button" ng-click="salvarPlanoAcao()">Salvar</button>
                <button class="btn btn-default" type="button" ng-click="backpageTop()">Cancelar</button>
                <button ng-if="ID_PLANO_ACAO != 0 && $root.PLANODEACAO.PERMISSAO == true" class="btn btn-default btn-danger" type="button" ng-click="excluirPlanoAcao()">Remover</button>
            </div>
            <div class="clearBoth"></div>
        </form>
    </div>
    <ul ng-if="$root.TAB_PLANO_ACAO == 1" style="padding-bottom: 33px">
        <li data-atrasado="{{registro.ATRASADO}}" ng-click="formAcao(key, registro)" class="lstMinhasAcoes" ng-repeat="(key, registro) in $root.PLANODEACAO.ITENS" data-id="{{registro.ID}}" mn-touch swipe-left="exibirMenu(registro)" swipe-right="esconderMenu(registro)">
            <h4>{{registro.TITULO}}</h4>
            <label>{{registro.DESCRICAO}}</label>
            <div class="user">
                <img src="{{registro.IMAGEM}}" on-error-src border="0">
                <div class="dados">
                    <h3 class="limitaLabel80">{{registro.NOME_USUARIO}}</h3>
                    <h4 class="limitaLabel80">{{registro.EMAIL}}</h4>
                </div>
            </div>
            <div class="status">
                <i>{{registro.PERCENTUAL}}%</i>
                <span status="{{registro.STATUS}}">{{registro.STATUS_LABEL}}</span>
                <br><label atrasado="{{registro.ATRASADO}}">{{registro.STATUS_TERMINO}}</label>
            </div>
            <div class="clearBoth"></div>
            <div class="menu row">
                <a class="col s3" ng-click="AtualizarAcao(registro);$event.stopPropagation();">
                    <p>Atualizar Ação</p>
                </a>
            </div>
        </li>
    </ul>
    <div ng-if="$root.TAB_PLANO_ACAO == 2 && $root.PLANODEACAO.PERMISSOES.length >= 1" class="card" style="margin: 0 10px 44px; padding: 6px 11px 0;">
        <table id="tableAcessos">
            <thead>
            <tr>
                <th width="90%" colspan="2">Usuário</th>
                <th colspan="2" width="10%" style="text-align: center">Adicionar/Editar ações</th>
            </tr>
            </thead>
            <tbody>
            <tr data-id="{{registro.ID}}" ng-repeat="(key, registro) in $root.PLANODEACAO.PERMISSOES" mn-touch swipe-left="exibirMenuPermissao(registro)" swipe-right="esconderMenuPermissao()">
                <td><img class="imgSelect" src="{{registro.IMAGEM}}" on-error-src border="0"></td>
                <td class="textSelect">{{registro.NOME_USUARIO}}</td>
                <td style="position: relative">
                    <p class="todo-element" style="text-align: center;padding-top: 8px; margin-left: 17px;">
                        <input id="PER_PODE_ADD{{registro.RAND}}" ng-disabled="!$root.PLANODEACAO.PERMISSAO" ng-click="alterPermissao(registro)" ng-model="registro.PODE_ADICIONAR" ng-checked="{{registro.PODE_ADICIONAR}}" type="checkbox" style="display: none;">
                        <label for="PER_PODE_ADD{{registro.RAND}}"> </label>
                    </p>
                    <div ng-if="$root.PLANODEACAO.PERMISSAO == true" title="Remover" ng-click="removerPermissao(registro, key)" class="menu row">
                        <a class="col s3">
                            <i class="fa fa-trash-o"></i>
                            <p>Remover</p>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="$root.TAB_PLANO_ACAO == 3">
        <div class="semRegistros" ng-if="$root.PLANODEACAO.HISTORICO.length < 1">
            <h3 style="margin-top: 5px">Nenhum registro localizado!</h3>
        </div>
        <div ng-if="$root.PLANODEACAO.HISTORICO.length >= 1" class="card" style="margin: 0 10px 10px; padding: 0; position: relative;">
            <i class="linha-historico"></i>
            <div class="container timeline">
                <div class="row" ng-repeat="registro in $root.PLANODEACAO.HISTORICO">
                    <div class="col s12">
                        <div class="contact">
                                <span class="date" >
                                    {{registro.DATA}}<br>
                                    {{registro.HORA}} <b>{{registro.PERIODO}}</b>
                                </span>
                            <div class="bloco-historico">
                                <i class="seta-esquerda"></i>
                                <img src="{{registro.IMAGEM}}" class="img_user" on-error-src border="0" >
                                <p>{{registro.NOME_USUARIO}}</p>
                                <span ng-bind-html="trustAsHtml(registro.TEXTO)"></span>
                            </div>
                            <i style="background-color: #f7f7f7;">{{registro.DATAHORA}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>

<div ng-controller="Modal" ref="AddPermissao">
    <div class="fundo" ng-click="hideModal('AddPermissao')"></div>
    <div class="content" style="width: 90%">
        <h3>
            Adicionar permissões
        </h3>
        <form id="formPermissao" method="post">
            <label class="title">Usuários:</label>
            <md-select multiple="true" ng-model="$root.USUARIO_PERMISSAO" md-on-close="pesquisarUsuarios = ''" ng-controller="Usuarios" md-on-open="carregarLista()">
                <md-select-header>
                    <h2>Usuários</h2>
                    <input ng-model="pesquisarUsuarios" class="formata-icone" placeholder="&#xf002; Pesquisar..." select-search>
                </md-select-header>
                <md-content>
                    <md-option ng-value="USUARIO.id" ng-repeat="USUARIO in USUARIOS | filter:pesquisarUsuarios">
                        <table>
                            <tr>
                                <td rowspan="2" style="width: 35px"><img class="imgSelect" src="{{USUARIO.imagem}}" on-error-src border="0"></td>
                                <td class="textSelect">{{USUARIO.name}}</td>
                            </tr>
                            <tr><td class="textSelect">{{USUARIO.email}}</td></tr>
                        </table>
                    </md-option>
                    <h4 ng-if="!USUARIOS.length">Nenhum registro localizado!</h4>
                </md-content>
                <md-select-footer>
                    <button ng-click="closeSelect()" class="btn btn-salvar" type="button">CONFIRMAR</button>
                </md-select-footer>
            </md-select>

            <label for="PERMIITR_ADD_EDT_ACOES" class="title m-t-10">Permitir adicionar/alterações ações:</label>
            <p class="todo-element">
                <input id="PERMIITR_ADD_EDT_ACOES" value="1" ng-model="$root.PODE_ADICIONAR" type="checkbox" style="display: none;">
                <label for="PERMIITR_ADD_EDT_ACOES"> </label>
            </p>
        </form>
        <div class="modal-footer">
            <button type="button" ng-click="addPermissao()" class="btn btn-salvar" type="submit" >Salvar</button>
            <button type="button" ng-click="cancelarPermissao()" class="btn btn-white btn-cons">Cancelar</button>
        </div>
    </div>
</div>

<div ng-controller="Modal" ref="AtualizarAcao">
    <link href="css/modulos/acoes-atualizar.css" rel="stylesheet" type="text/css">
    <div class="fundo" ng-click="hideModal('AtualizarAcao')"></div>
    <div class="content" ng-include="'view/acoes/modal-atualizar.html'"></div>
</div>