<span id="ambiente_teste" ng-if="ambiente_teste == 1">Ambiente de testes</span>
<div id="formLogin">
    <img id="logo_gif" src="" >
    <div>
        <form action="login/request" method="post" onsubmit="return false;" id="form_login">
            <div class="input-field col s12">
                <input class="validate" id="usuario" name="usuario" onkeydown="if((event.which || event.keyCode) == 13){login();}" onchange="resetLogin(this.value);login();" type="email" value="">
                <label for="usuario">E-mail</label>
            </div>

            <div class="input-field col s12" id="box_senha">
                <input class="validate" id="senha" name="senha" onkeydown="if((event.which || event.keyCode) == 13){$('#senha').blur();login();}" type="password" value="">
                <label for="senha">Senha</label>
            </div>

            <div class="input-field col s12" id="box_cliente">
                <select class="validate" id="idcliente" name="idcliente"></select>
                <label for="idcliente" class="active">Cliente</label>
            </div>

            <div class="msg"></div>

            <button type="button" onclick="login()"><div class="loading"></div> ENTRAR</button>
			
            <label id="versao">v. {{versao}}</label>
        </form>
        <div id="afterLogin">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
            </div>
            <img src="img/login_default.png" on-error-src border="0">
            <span class="limitaLabel100" style="margin-top: 20px;"></span>
            <label class="limitaLabel100"></label>
        </div>
    </div>
</div>