<link href="css/competencia.css" rel="stylesheet" type="text/css">
<div id="fundo" ng-click="fechar()"></div>
<div id="content">
  <h3>
    <i ng-if="exibirSetas == 1" ng-click="anoAnterior()" class="fa fa-chevron-left"></i>
    {{ano}}
    <i ng-if="exibirSetas == 1" ng-click="anoProximo()" class="fa fa-chevron-right"></i>
  </h3>
  <ul class="clearBoth">
    <li ng-click="select(item)" class="{{item.ACTIVE}}" data-competencia="{{item.COMPETENCIA}}" ng-repeat="item in lstCompetencia">
      {{item.NOME}}
    </li>
  </ul>
</div>