[card-origem="IndicadoresDetalhar"] #graf{
    width: 100% !important;
    margin-top: 20px;
    height: 200px;
}

[card-origem="IndicadoresDetalhar"] #login img{
    float: left;
    filter: FlipH;
    -ms-filter: FlipH;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    display: block;
    background: #FFF;
}
[card-origem="IndicadoresDetalhar"] #login > div#dados{
    float: left;
}
[card-origem="IndicadoresDetalhar"] #login > div#dados h3{
    font-size: 12px;
    margin: 5px 0 0 0;
}
[card-origem="IndicadoresDetalhar"] #login > div#dados h4{
    font-size: 10px;
    margin: 0;
}
[card-origem="IndicadoresDetalhar"] #login:after{
    clear: both;
    content: '';
    display: block;
}

[card-origem="IndicadoresDetalhar"]{
    margin: 10px;
}

[card-origem="IndicadoresDetalhar"] #detalhes{
    display: none;
}

[card-origem="IndicadoresDetalhar"] #detalhes > a i{
    position: absolute;
    right: 0;
    font-size: 25px;
}
[card-origem="IndicadoresDetalhar"] #detalhes > a{
    color: #224887;
    width: 100%;
    display: block;
    margin-top: 10px;
    font-size: 18px;
    position: relative;
    display: none;
}
[card-origem="IndicadoresDetalhar"] #detalhes > a.active{
    display: block;
}
[card-origem="IndicadoresDetalhar"] #detalhes > h4{
    margin: 10px 0 0 0;
    font-size: 15px;
    font-weight: 600;
}

[card-origem="IndicadoresDetalhar"] #detalhes[tipo="INDICADOR"]{
    display: block;
    font-size: 10px;
}

[card-origem="IndicadoresDetalhar"] .fa{
    float: left;
    font-size: 32px;
    margin-right: 10px;
    margin-top: 5px;
}

[card-origem="IndicadoresDetalhar"] .dados{
    float: left;
    margin-bottom: 10px;
    width: 80%;
}
[card-origem="IndicadoresDetalhar"] .dados h3{
    margin: 0;
    font-size: 18px;
}

[card-origem="IndicadoresDetalhar"] .dados h4{
    margin: 0;
    font-size: 15px;
    color: #999;
}

[card-origem="IndicadoresDetalhar"] div.i{
    float: left;
    width: 41%;
    font-size: 12px;
}

[card-origem="IndicadoresDetalhar"] div.i span{
    color: #9e9e9e;
    display: block;
    font-weight: normal;
    font-size: 13px;
}

[card-origem="IndicadoresDetalhar"] div.i.porc{
    width: 15%;
    text-align: center;
}
body[device="ios"] [card-origem="IndicadoresDetalhar"] div.i.porc{
    width: 18%;
    text-align: center;
}

[card-origem="IndicadoresDetalhar"] div.i.porc span{
    padding: 0 3px;
    border-radius: 4px;
    color: black;
    background: rgb(209, 218, 222);
}

[card-origem="IndicadoresDetalhar"] div.i.porc[sinal="VERDE"] span{
    background: rgb(34, 175, 163);
    color: #FFF;
}

[card-origem="IndicadoresDetalhar"] div.i.porc[sinal="VERMELHO"] span{
    background: #f35958;
    color: #FFF;
}

[card-origem="IndicadoresDetalhar"] div.i.porc[sinal="LARANJA"] span{
    background: #fbb05e;
}

[card-origem="IndicadoresDetalhar"] #detalhes > h4{
    font-size: 10px;
}

[card-origem="IndicadoresDetalhar"]{
    padding: 10px;
}
ul.NECESSITA_ANALISE_ li,
ul.NECESSITA_ANALISE_0 li{
    width: 45% !important;
}