article[card-origem="PerformanceIndicadoresEconomicos"] a > h4 {
    margin: 0;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

article[card-origem="PerformanceIndicadoresEconomicos"] a > h2 {
    text-align: center;
    margin: 5px 0 0 0;
    color: #9e9e9e;
    font-size: 22px;
}

article[card-origem="PerformanceIndicadoresEconomicos"] a > div.i {
    float: left;
    width: 50%;
    font-size: 12px;
}

article[card-origem="PerformanceIndicadoresEconomicos"] a > div.i span {
    color: #9e9e9e;
    display: block;
    font-weight: normal;
    font-size: 13px;
}

article[card-origem="PerformanceIndicadoresEconomicos"] a > div.i:last-child {
    text-align: right;
}

article[card-origem="PerformanceIndicadoresEconomicos"] a > span{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0 3px;
    border-radius: 4px;
    color: #FFF;
}

article[card-origem="PerformanceIndicadoresEconomicos"] a > span[sinal="negativo"]{
    background: #f35958;
}

article[card-origem="PerformanceIndicadoresEconomicos"] a > span[sinal="positivo"]{
    background: rgb(34, 175, 163);
}
