[card-origem="PerformanceDREmensal"] #grafMensal,
[card-origem="PerformanceDREforecast"] #grafForecast{
    height: 200px;
    width: 100%;
}

[card-origem="PerformanceDREmensal"] > h3,
[card-origem="PerformanceDREforecast"] > h3{
    text-align: center;
    font-size: 17px;
    color: #9e9e9e;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

[card-origem="PerformanceDREmensal"],
[card-origem="PerformanceDREforecast"]{
    padding: 10px;
    background: #FFF;
    margin: 10px 0 0 0;
}

[card-origem="PerformanceDREmensal"] > div.i,
[card-origem="PerformanceDREforecast"] > div.i {
    float: left;
    width: 50%;
    font-size: 15px;
    color: #444;
}

[card-origem="PerformanceDREmensal"] > div.i span,
[card-origem="PerformanceDREforecast"] > div.i span {
    color: #9e9e9e;
    display: block;
    font-weight: normal;
    font-size: 15px;
}

[card-origem="PerformanceDREmensal"] > div.i span.var,
[card-origem="PerformanceDREforecast"] > div.i span.var {
    padding: 0 3px;
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
}

[card-origem="PerformanceDREmensal"] > div.i span.var[sinal="negativo"],
[card-origem="PerformanceDREforecast"] > div.i span.var[sinal="negativo"]{
    background: #f35958;
}

[card-origem="PerformanceDREmensal"] > div.i span.var[sinal="positivo"],
[card-origem="PerformanceDREforecast"] > div.i span.var[sinal="positivo"]{
    background: rgb(34, 175, 163);
}

[card-origem="PerformanceDREmensal"] .dadosDetalhes:after,
[card-origem="PerformanceDREforecast"] .dadosDetalhes:after{
    clear: both;
    content: '';
    display: block;
}