<link href="css/modulos/indicadores.css" rel="stylesheet" type="text/css">

<div id="filtroTop" ng-if="lst.length">
	<p class="todo-element" ng-controller="Acumular">
		<input id="acumularAteTop" ng-model="ACUMULARATE" ng-checked="{{ACUMULARATE}}" ng-change="change()" type="checkbox" style="display: none;">
		<label for="acumularAteTop">Acumular até</label>
	</p>
	<span ng-click="abrirCompetencia()">{{COMPETENCIA}}<i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></span>
	<div ng-controller="Competencia" tipo="INDICADORES" id="comboCompetencia" ng-include="'view/componentes/competencia.html'"></div>
</div>

<md-content class="scrollable-content" flex md-scroll-y scroll>
	<div ng-if="lst.length">
		<ul id="listaIndicadores" class="{{efeitoLst}}">
			<li class="card" data-id="{{ind.ID}}" ng-repeat="ind in lst" mn-touch swipe-left="exibirMenu(ind)" swipe-right="esconderMenu(ind)">
				<a ng-click="location('#!/indicadores-detalhes/'+ind.ID+'/INDICADOR')">
					<i class="fa {{ind.ICONE}}"></i>
					<div class="dados" style="width: 86%;">
						<h3>{{ind.NOME}}</h3>
						<h4>{{ind.DESCRICAO}}</h4>
					</div>
					<div class="clearBoth"></div>
					<div class="i">Meta:<span >{{ind.META}}</span></div>
					<div class="i">Real:<span >{{ind.REAL}}</span></div>
					<div class="i porc" sinal="{{ind.COR_PERCENTUAL}}">%<span>{{ind.VAR_PERCENTUAL}}</span></div>
					<div class="clearBoth"></div>
				</a>
				<ul class="btnEfetuarAnalise clearBoth" ng-if="ind.NECESSITA_ANALISE == 1" >
					<li>
						<a opcao="ANALISE" class="" href="#!/analise-justificativa-indicador/{{ind.ID}}/ANALISE/INDICADOR">
							<i ng-if="ind.ANALISE_FEITA" class="fa fa-star active"><label style="margin-left: 10px;"> Análise efetuada </label></i>
							<i ng-if="!ind.ANALISE_FEITA" class="fa fa-star"> <label style="margin-left: 10px;"> Necessita Análise </label></i>
						</a>
					</li>
				</ul>
				<div class="menu row">
					<a class="col s3" ng-click="medicao(ind);$event.stopPropagation();">
						<i style="margin-left: 35%; margin-bottom: 8px; font-size: 21px;" class="fa fa-bar-chart-o"></i>
						<p>Efetuar Medição</p>
					</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="semRegistros" ng-if="!lst.length">
		<img src="img/erro_indicadores.png">
		<h3>Não encontramos nenhum indicador.</h3>
	</div>
</md-content>

<div ng-controller="Modal" ref="Medicao">
	<div class="fundo" ng-click="hideModal('Medicao')"></div>
	<div class="content">
		<div id="topo_medicao" >
			<span id="competencia_medicao">{{COMPETENCIA}}</span>
			<h4 id="titulo_medicao">{{FORM_INDICADOR.NOME}}</h4>
		</div>
		<div id="conteudo_medicao">
			<form id="formMedicao" action="indicadores/salvarmedicao" method="post">
				<input type="hidden" name="ID" value="{{FORM_INDICADOR.ID}}"/>
				<!--Meta-->
				<div style="width: 100px; margin-bottom: 5px; "> Meta: </div>
				<input readonly ng-controller="Teclado" ng-click="open('META_MEDICAO', FORM_INDICADOR.DISABLE)" c="{{FORM_INDICADOR.CASAS}}" name="META" id="META_MEDICAO" value="{{FORM_INDICADOR.META}}" type="text" class="formatValor"/>

				<!--Real-->
				<div style="width: 100px; margin-bottom: 5px; "> Real: </div>
				<input readonly ng-controller="Teclado" ng-click="open('REAL_MEDICAO', FORM_INDICADOR.DISABLE)" c="{{FORM_INDICADOR.CASAS}}" name="REAL" id="REAL_MEDICAO" value="{{FORM_INDICADOR.REAL}}" type="text" class="formatValor"/>

				<!--Performance-->
				<div class="porc" sinal="{{FORM_INDICADOR.COR_PERCENTUAL}}">%<span id="PERFORMANCE">{{FORM_INDICADOR.VAR_PERCENTUAL}}</span></div>
			</form>
		</div>
		<div id="grafico_medicao">
			<div id="graff"></div>
		</div>
		<div class="modal-footer">
			<button ng-if="!FORM_INDICADOR.DISABLE" type="button" ng-click="salvarMedicao()" class="btn btn-salvar" type="submit">Salvar</button>
			<button type="button" ng-click="hideModal('Medicao')" class="btn btn-white btn-cons">Cancelar</button>
		</div>
	</div>
</div>