[ng-controller="Modal"]{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  display: none;
  color: #7c8896;
  background: rgba(111, 123, 138, 0.2);
}

[ng-controller="Modal"] .fundo{
  background: rgba(111, 123, 138, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

[ng-controller="Modal"] .content{
  background: #FFF;
  width: 80%;
  margin: 0 auto;
  margin-top: 50%;
  font-size: 1rem;
  position: relative;
  z-index: 10;
}

[ng-controller="Modal"] .content h3 {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  text-align: center;
}

[ng-controller="Modal"] .content form{
  padding: 10px;
  background-color: #e5e9ec;
}

[ng-controller="Modal"] .content form input{
  /*background-color: white;*/
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: white;
  padding: 0 10px 0px 10px;
  width: 95%;
}

[ng-controller="Modal"] .content form input:focus{
  /*background-color: #f4f5f7;*/
  /*border-color:#e5e9ec;*/
  box-shadow:none;
  outline: 0 none !important
}

body *{
  box-shadow: none !important;
}

[ng-controller="Modal"] .modal-footer{
  /*border-top: 7px solid #EEE;*/
  width: 100%;
  padding: 10px;
  background-color: #F3F5F6;
  text-align: center;
}
/*[ng-controller="Modal"] .content form button{*/
  /*margin-bottom: 6px;*/
  /*background: #224887;*/
  /*color: #FFF;*/
  /*border: 0;*/
  /*margin: 0;*/
/*}*/

/*[ng-controller="Modal"] .content form button.btn-cancel{*/
  /*background: rgba(249, 38, 18, 0.66);*/
/*}*/