@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
@-moz-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
@-ms-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
@-o-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
/*Cor padrao do sistema #224887*/
/*#204d8e*/
html{
  height: 100%;
}

body {
  color: #FFF;
  overflow-x: hidden;
  background: #224887; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#224887, #5482bd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#224887, #5482bd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#224887, #5482bd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#224887, #5482bd); /* Standard syntax */
}

html,
body,
body *{
  font-family: 'Open Sans';
}

body #effect{
  position: absolute;
  z-index: 2;
  background: #000;
  height: 100%;
  width: 100%;
  top: 0;
  transition: 6s;
}

body #effect img{
  width: 190px;
  margin: 0 auto;
  height: 80px;
  display: block;
  position: relative;
  top: 400px;
  transition: 2s;
}

[class^="mdi-"],[class*="mdi-"] {
  font-family: "MaterialDesignIcons";
}

h1,h2,h3,h4,h5,h6 {
  color: #191d22;
}

#formLogin{
  margin: 10px;
  position: relative;
  min-height: calc(100vh - 56px);
  transition: 1s;
  display: block;
  overflow: hidden;
}
body > .app{
  display: block;
}

#formLogin > div{
  width: 200%;
}

#formLogin > div:after{
  clear: both;
  content: " ";
  display: table;
}

#formLogin #box_cliente #idcliente{
  display: block;
  width: 100%;
  margin-left: 0;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
}

#formLogin #box_cliente #idcliente option{
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#formLogin #box_senha,
#formLogin #box_cliente{
  display: none;
}

#formLogin form {
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  float: left;
}

#formLogin form button{
  margin-top: 5px;
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 0.78);
  background: transparent;
  width: 100%;
  border-radius: 5px;
  color: #FFF;
}

#formLogin form button.processing {
  background-image: url(../img/progress-bar-stripes.jpg);
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  color: #999;
}

#formLogin > img{
  width: 100%;
  margin: 70% 0px 30px;
  display: block;
  opacity: 1;
}

#formLogin #afterLogin{
  float: left;
  width: 50%;
  display: none;
  text-align: center;
  position: relative;
}

#formLogin .mdi-cliente:before {
  content: "\f3d5";
}

#formLogin #afterLogin span{
  color: #FFF;
  font-size: 17px;
  margin-top: 0px;
  display: block;
}

#formLogin #afterLogin label {
  color: #FFF;
  font-size: 10px;
  margin-top: 0;
  display: block;
  opacity: 0.7;
}

#formLogin #afterLogin > img{
  filter: FlipH;
  -ms-filter: FlipH;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-top: -145px;
  background: #224887;
  background: -webkit-linear-gradient(#224887, #5482bd);
  background: -o-linear-gradient(#224887, #5482bd);
  background: -moz-linear-gradient(#224887, #5482bd);
  background: linear-gradient(#224887, #5482bd);
}

#formLogin .contact.profile-user {
  position: relative;
  left: 0;
}
#formLogin .input-field:last-child {
  margin-bottom: 10px;
}
#formLogin .valign {
  top: -50px;
  position: relative;
  width: 100%;
}
.fullwidth {
  width: 100% !important;
}

/*  input */
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #224887;
  box-shadow: 0 1px 0 0 #224887;
}

input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #224887;
}

.input-field .prefix {
  color: inherit;
}

.input-field .prefix.active {
  color: #224887;
}

.input-field.white-text input {
  border-color: #fff;
}

.input-field.white-text i {
  color: #fff;
}

.input-field label {
  font-size: 14px;
}

.input-field .prefix {
  width: 16px;
  font-size: 16px;
  top: 16px;
}

.input-field .prefix ~ label {
  margin-left: 16px;
}

.input-field .prefix ~ input,.input-field .prefix ~ textarea {
  margin-left: 29px;
}

#formLogin .input-field input{
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: none;
}

#formLogin .input-field label{
  color: rgba(255, 255, 255, 0.79);
  left: 0;
  font-weight: normal;
}

/*
 * Sem registros
 */
.semRegistros{
  padding: 10px;
  text-align: center;
}

.semRegistros img {
  width: 75%;
}

.semRegistros h3{
  text-align: center;
  color: #FFF;
  font-size: 14px;
  margin: 0;
  line-height: 28px;
}
.semRegistros h3  a{
  color: #FFF !important;
}

#ambiente_teste{
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
  color: #f35958;
  font-size: 18px;
  background: #FFF;
}
body[device="ios"] #ambiente_teste{
  margin-top: 20px;
}

#versao{
  color: #FFF;
}

.limitaLabel100{
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress{
  background: none;
  box-shadow: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  z-index: -1;
}

.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*border: 12px solid #fff;*/
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 0px !important;
}
/*.progress .progress-value{*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*border-radius: 50%;*/
  /*background: #44484b;*/
  /*font-size: 24px;*/
  /*color: #fff;*/
  /*line-height: 135px;*/
  /*text-align: center;*/
  /*position: absolute;*/
  /*top: 5%;*/
  /*left: 5%;*/
/*}*/
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 1px;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  -webkit-animation: loading-1 1.3s linear forwards;
  -moz-animation: loading-1 1.3s linear forwards;
  -ms-animation: loading-1 1.3s linear forwards;
  -o-animation: loading-1 1.3s linear forwards;
  animation: loading-1 1.3s linear forwards;
}

.progress.blue .progress-left .progress-bar{
  -webkit-animation: loading-1 1.3s linear forwards 1.3s;
  -moz-animation: loading-1 1.3s linear forwards 1.3s;
  -ms-animation: loading-1 1.3s linear forwards 1.3s;
  -o-animation: loading-1 1.3s linear forwards 1.3s;
  animation: loading-1 1.3s linear forwards 1.3s;
}

@keyframes loading-1{
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.blue{
  background-color: transparent !important;
}
#logo_gif.load2{
  margin-top: 30%  !important;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#form_login{
  opacity:0;
}
#form_login.load3{
  opacity: 1;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.loading {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: solid 2px transparent;
	border-top-color: #FFF;
	border-left-color: #FFF;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
	visibility: hidden;
	margin-left: -14px;
	vertical-align: middle;
}